{% from 'modules/qc/bam_qc_all.j2' import bam_qc_samtools_stats with context %}

{% macro bam_qc(sample, aligner='minimap2') %}

    {% set sample_lbs = sample.read_groups.values()|groupby('rglb') %}
    {% set libraryCount = sample_lbs|length %}
    {% set sample_lb = sample_lbs[0][0] %}

    {% if sample.gltype == 'rna' %}
      {% set taskPrefix = 'RNA' %}
    {% elif sample.gltype == 'exome' %}
      {% set taskPrefix = 'Exome' %}
    {% elif sample.gltype == 'genome' %}
      {% set taskPrefix = 'Genome' %}
    {% endif %}

    {# Tasks performed on all bams #}
    {{- bam_qc_samtools_stats(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner) }}

    {% if libraryCount > 1 %}
      {% for sample_lb, sample_rgs in sample.read_groups.values()|groupby('rglb') %}

        {{- split_bam(sample, sample_lb, sample_rgs, aligner=aligner) }}

        {# Tasks performed on all bams #}
        {{- bam_qc_samtools_stats(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner, bam_level=false) }}
      {% endfor %}
    {% endif %}
{% endmacro %}


