# Splits a bam if the sample has more than one library
{% from 'modules/qc/split_bam.j2' import split_bam with context %}

# Performed on all bams
{% from 'modules/qc/bam_qc_all.j2' import bam_qc_samtools_stats with context %}
{% from 'modules/qc/bam_qc_all.j2' import bam_qc_samtools_idxstats with context %}
{% from 'modules/qc/bam_qc_all.j2' import bam_qc_gatk_collectmultiplemetrics with context %}
{% from 'modules/qc/bam_qc_all.j2' import bam_qc_snpsniffer_geno with context %}
{% from 'modules/qc/bam_qc_all.j2' import bam_qc_samtools_markdup with context %}

# Performed on genomes

# Performed on exomes
{% from 'modules/qc/bam_qc_exome.j2' import bam_qc_gatk_collecthsmetrics with context %}

# Performed on rna
{% from 'modules/qc/bam_qc_rna.j2' import bam_qc_gatk_collectrnaseqmetrics with context %}

# Performed on constitutional dna

{% macro bam_qc(sample, aligner='minimap2') %}

    {% set sample_lbs = sample.read_groups.values()|groupby('rglb') %}
    {% set libraryCount = sample_lbs|length %}
    {% set sample_lb = sample_lbs[0][0] %}

    {% if sample.gltype == 'rna' %}
      {% set taskPrefix = 'RNA' %}
    {% elif sample.gltype == 'exome' %}
      {% set taskPrefix = 'Exome' %}
    {% elif sample.gltype in 'genome' %}
      {% set taskPrefix = 'Genome' %}
    {% endif %}

    {% if sample.gltype == 'rna' %}
      {% set taskPrefix = 'RNA' %}
      {{- bam_qc_gatk_collectrnaseqmetrics(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner) }}
    {% elif sample.gltype == 'exome' %}
      {% set taskPrefix = 'Exome' %}
      {{- bam_qc_gatk_collecthsmetrics(sample, aligner=aligner) }}
    {% elif sample.gltype == 'genome' %}
      {% set taskPrefix = 'Genome' %}
    {% endif %}

    {% for sample_lb, sample_rgs in sample.read_groups.values()|groupby('rglb') %}
      {# Tasks performed on dna bams #}
      {% if sample.gltype not in ['rna',] and sample.glprep not in 'longread' and sample.umiType is defined and sample.umiType != "Inline_Duplex" %}
        {{- bam_qc_samtools_markdup(sample, sample_lb, taskPrefix=taskPrefix, aligner=aligner) }}
      {% endif %}
    {% endfor%}

    {# Tasks performed on all bams #}
    {{- bam_qc_samtools_stats(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner) }}
    {{- bam_qc_samtools_idxstats(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner) }}
    {{- bam_qc_gatk_collectmultiplemetrics(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner) }}
    {{- bam_qc_snpsniffer_geno(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner) }}

    {% if libraryCount > 1 %}
      {% for sample_lb, sample_rgs in sample.read_groups.values()|groupby('rglb') %}

        {{- split_bam(sample, sample_lb, sample_rgs, aligner=aligner) }}

        {% if sample.gltype == 'rna' %}
          {{- bam_qc_gatk_collectrnaseqmetrics(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner, bam_level=false) }}
        {% elif sample.gltype == 'genome' %}
        {% endif %}

        {# Tasks performed on all bams #}
        {{- bam_qc_samtools_stats(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner, bam_level=false) }}
        {{- bam_qc_samtools_idxstats(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner, bam_level=false) }}
        {{- bam_qc_gatk_collectmultiplemetrics(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner, bam_level=false) }}
        {{- bam_qc_snpsniffer_geno(sample, libraryCount, sample_lb, taskPrefix=taskPrefix, aligner=aligner, bam_level=false) }}
      {% endfor %}
    {% endif %}
{% endmacro %}


