{% macro assembly_stats(pair, input_assembly, assembler) %}

{% set output_prefix %}{{ input_assembly | basename }}{% endset %}
{% set results_dir %}{{ input_assembly | dirname }}{% endset %}

- name: assembly_stats_{{ pair.project }}_{{ assembler }}
  input: {{ input_assembly }}
  output: {{ results_dir }}/{{ output_prefix }}_assembly-stats.txt
  cpus: 2
  mem: 8G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.assembly_stats.container }}
  cmd: |

    mkdir -p {{ results_dir }}

    assembly-stats \
      -t {{ input_assembly }} \
      > {{ results_dir }}/{{ output_prefix }}_assembly-stats.txt

{% endmacro %}

