# Assemble HiFi data with HiCanu

#help menu is modified from Bryce's
print_help(){
    printf "
    Usage:
        yh_canu.sh -i input.fastq.gz -d working/directory -g 3.1g

    Available arguments:
        -h  | --help         - Print this help dialog
        -i  | --input        - Input fastq
        -d  | --directory    - Path of the input file
        -g  | --genome_size  - Genome size, required by canu
        -q  | --quiet        - Suppresses debug/processing info
    \n"

    exit 0
}

commands=$(echo "$(realpath $0)" $*)

# Reads each argument provided after calling the script
# if no argument is provided then the script will print a usage message
num_args_rem=$#

if [[ $num_args_rem == 0 ]] ; then
    print_help
fi

# Grabbing the remaining arguments to pass on to operations
while [[ $num_args_rem -ne 0 ]] ; do
    case "$1" in
        -h|--help)
            print_help
            shift 1 ;;
        -i|--input)
            INPUT="$2"
            shift 2 ;;
        -d|--directory)
            DIR="$2"
            shift 2 ;;
        -g|--genome_size)
            GENOME_SIZE="$2"
            shift 2 ;;
        -q|--quiet)
            quiet="true"
            shift 1 ;;
    esac
    num_args_rem=$((num_args_rem-1))
done

[[ -v quiet ]] || echo "Script called via $commands"




module load singularity

CANU="/home/tgenref/containers/grandcanyon/assembly_tools/canu_2.2--ha47f30e_0.sif"

PREFIX=${INPUT%.fastq.gz}

#Using default settings for complete dataset with enough coverage (10)
singularity exec -B $PWD -B $DIR $CANU sh -c "canu -p $PREFIX -d $DIR genomeSize=${GENOME_SIZE} -pacbio-hifi $INPUT"

#For testing with downsized data
#singularity exec -B $PWD -B $DIR $CANU sh -c "canu -p $PREFIX -d $DIR stopOnLowCoverage=0.1 minInputCoverage=0.1 genomeSize=${GENOME_SIZE} -pacbio-hifi $INPUT"



