{% from 'modules/assembly/assembly_stats.j2' import assembly_stats with context %}

{% macro flye(pair) %}

{%- set temp_dir %}temp/{{ pair.gltype }}/assembly/flye/{{ pair.project }}{% endset %}
{%- set results_dir %}{{ pair.gltype }}/assembly/flye/{{ pair.project }}{% endset %}

{% set ontfqlist = [] %}
{% set pacbiofqlist = [] %}

{% for rg in pair.pacbio %}
  {% for file in rg.data_files %}
    {% set pacbiofq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do pacbiofqlist.append(pacbiofq) %}
  {% endfor %}
{% endfor %}

{% for rg in pair.ont %}
  {% for file in rg.data_files %}
    {% set ontfq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do ontfqlist.append(ontfq) %}
  {% endfor %}
{% endfor %}

- name: flye_{{ pair.project }}
  input:
    {% for ontfq in ontfqlist %}
    - {{ ontfq }}
    {% endfor %}
    {% for pacbiofq in pacbiofqlist %}
    - {{ pacbiofq }}
    {% endfor %}
  output:
    - {{ results_dir }}/assembly.fasta
    - {{ results_dir }}/assembly_graph.gfa
    - {{ results_dir }}/assembly_graph.gv
    - {{ results_dir }}/assembly_info.txt
  cpus: 20
  mem: 200G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.flye.container }}
  cmd: |
    set -eu
    set -o pipefail

    rm -r {{ temp_dir }} || true
    mkdir -p {{ temp_dir }}
    mkdir -p {{ results_dir }}

    flye \
      --threads 20 \
      {% if pacbiofqlist | length > 0 %}
      --pacbio-hifi "{{ pacbiofqlist | join('" "') }}" \
      {% endif %}
      {% if ontfqlist | length > 0 %}
      --nano-hq "{{ ontfqlist | join('" "') }}" \
      {% endif %}
      --out-dir {{ temp_dir }}

    mv {{ temp_dir }}/assembly.fasta {{ results_dir }}
    mv {{ temp_dir }}/assembly_graph.gfa {{ results_dir }}
    mv {{ temp_dir }}/assembly_graph.gv {{ results_dir }}
    mv {{ temp_dir }}/assembly_info.txt {{ results_dir }}


{% set input_assembly %}{{ results_dir }}/assembly.fasta{% endset %}
{{- assembly_stats(pair, input_assembly, 'flye') }}

{% endmacro %}
