{% macro hifiasm(pair) %}

{%- set temp_dir %}temp/{{ pair.gltype }}/assembly/hifiasm/{{ pair.project }}{% endset %}
{%- set results_dir %}{{ pair.gltype }}/assembly/hifiasm/{{ pair.project }}{% endset %}

{% set ontfqlist = [] %}
{% set hififqlist = [] %}

{% for file in pair.pacbio %}
    {% set pacbiofq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do hififqlist.append(pacbiofq) %}
{% endfor %}

{% for file in pair.ont|selectattr('fastqCode', 'eq', 'duplex')|selectattr('assayCode', '!=', 'OUL14')|list %}
    {% set hififq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do hififqlist.append(hififq) %}
{% endfor %}

{% for file in pair.ont|selectattr('assayCode', '==', 'OUL14')|list %}
    {% set ontfq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do ontfqlist.append(ontfq) %}
{% endfor %}

{% if hififqlist | length > 0 %}
- name: hifiasm_{{ pair.project }}
  input:
    {% for ontfq in ontfqlist %}
    - {{ ontfq }}
    {% endfor %}
    {% for hififq in hififqlist %}
    - {{ hififq }}
    {% endfor %}
  output: {{ results_dir }}
  cpus: 20
  mem: 200G
  walltime: "48:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.hifiasm.container }}
  cmd: |
    set -eu
    set -o pipefail

    rm -r {{ temp_dir }} || true
    mkdir -p {{ temp_dir }}
    mkdir -p {{ results_dir }}

    hifiasm \
      -t 20 \
      -o {{ temp_dir }}/{{ pair.project }}.asm \
      {% if ontfqlist | length > 0 %}
      --ul "{{ ontfqlist | join(',') }}" \
      {% endif %}
      {% if hififqlist | length > 0 %}
      {{ hififqlist | join(' ') }}
      {% endif %}

{% else %}
  {% set log_msg %}hifiasm was enabled, but no pacbio data was found. Hifiasm requires pacbio input data, so this task was skipped{% endset %}
  {{ log(log_msg, level='WARNING') }}
{% endif %}
{% endmacro %}
