{% macro hifiasm(pair) %}

{%- set temp_dir %}temp/{{ pair.gltype }}/assembly/hifiasm/{{ pair.rgsm }}{% endset %}
{%- set results_dir %}{{ pair.gltype }}/assembly/hifiasm/{{ pair.rgsm }}{% endset %}

{% set ontfqlist = [] %}
{% set pacbiofqlist = [] %}

{% for rg in pair.pacbio %}
  {% for file in rg.data_files %}
    {% set pacbiofq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do pacbiofqlist.append(pacbiofq) %}
  {% endfor %}
{% endfor %}

{% for rg in pair.ont %}
  {% for file in rg.data_files %}
    {% set ontfq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do ontfqlist.append(ontfq) %}
  {% endfor %}
{% endfor %}

{% if pacbiofqlist | length > 0 %}
- name: hifiasm_{{ pair.rgsm }}
  input:
    {% for ontfq in ontfqlist %}
    - {{ ontfq }}
    {% endfor %}
    {% for pacbiofq in pacbiofqlist %}
    - {{ pacbiofq }}
    {% endfor %}
  output: {{ results_dir }}
  cpus: 20
  mem: 64G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.hifiasm.container }}
  cmd: |
    set -eu
    set -o pipefail

    hifiasm \
      -t 20 \
      -o {{ results_dir }}/{{ pair.rgsm }}.asm \
      {% if ontfqlist | length > 0 %}
      --ul "{{ ontfqlist | join(',') }}" \
      {% endif %}
      {% if pacbiofqlist | length > 0 %}
      "{{ pacbiofqlist | join(',') }}"
      {% endif %}

{% else %}
  {% set log_msg %}hifiasm was enabled, but no pacbio data was found. Hifiasm requires pacbio input data, so this task was skipped{% endset %}
  {{ log(log_msg, level='WARNING') }}
{% endif %}
{% endmacro %}
