{% macro moddotplot(pair, input_assembly, assembler) %}

{% set results_dir %}{{ input_assembly | dirname }}{% endset %}

- name: moddotplot_{{ pair.project }}_{{ assembler }}
  input:
    - {{ input_assembly }}
    - {{ constants.grandcanyon[reference].reference_fasta }}
  output: {{ results_dir }}/moddotplot
  cpus: 8
  mem: 120G
  walltime: "8:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.moddotplot.container }}
  cmd: |
    set -eu
    set -o pipefail

    mkdir -p {{ results_dir }}/moddotplot

    moddotplot \
      --static \
      --compare-only \
      -o {{ results_dir }}/moddotplot \
      -i {{ constants.grandcanyon[reference].reference_fasta }} {{ input_assembly }}

{% endmacro %}

{% macro pafplot(pair, input_paf, aligner, assembler) %}

{% set results_dir %}{{ input_paf | dirname }}{% endset %}
{% set output_plot %}{{ input_paf | basename }}.pafplot.png{% endset %}

- name: pafplot_{{ aligner }}_{{ pair.project }}_{{ assembler }}
  input:
    - {{ input_paf }}
    - {{ constants.grandcanyon[reference].reference_fasta }}
  output: {{ results_dir }}/{{ output_plot }}
  cpus: 4
  mem: 20G
  walltime: "8:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.pafplot.container }}
  cmd: |
    set -eu
    set -o pipefail

    pafplot \
      -p {{ results_dir }}/{{ output_plot }} \
      {{ input_paf }}

- name: pafr_{{ aligner }}_{{ pair.project }}_{{ assembler }}
  input:
    - {{ input_paf }}
  output: {{ input_paf }}_dotplot.png
  cpus: 2
  mem: 8G
  walltime: "1:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.pafr.container }}
  cmd: |
    set -eu
    set -o pipefail

    Rscript --vanilla {{ required_scripts.pafr_plot_Rscript.path }} \
      -i {{ input_paf }} \
      -t 'chr3'

{% endmacro %}


