{% macro moddotplot(pair, input_assembly, assembler) %}

{% set results_dir %}{{ input_assembly | dirname }}{% endset %}

- name: moddotplot_{{ pair.project }}_{{ assembler }}
  input:
    - {{ input_assembly }}
    - {{ constants.grandcanyon[reference].reference_fasta }}
  output: {{ results_dir }}/moddotplot
  cpus: 8
  mem: 120G
  walltime: "8:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.moddotplot.container }}
  cmd: |
    set -eu
    set -o pipefail

    mkdir -p {{ results_dir }}/moddotplot

    moddotplot \
      --static \
      --compare-only \
      -o {{ results_dir }}/moddotplot \
      -i {{ constants.grandcanyon[reference].reference_fasta }} {{ input_assembly }}

{% endmacro %}

{% macro pafplot(pair, input_assemblies, aligner, assembler) %}

{% set results_dir %}{{ input_assemblies | first | dirname }}{% endset %}

- name: pafplot_{{ aligner }}_{{ pair.project }}_{{ assembler }}
  input:
    {% for input_assembly in input_assemblies %}
    - {{ input_assembly }}.minimap2.paf
    {% endfor %}
    - {{ constants.grandcanyon[reference].reference_fasta }}
  output:
    {% for input_assembly in input_assemblies %}
    - {{ results_dir }}/{{ input_assembly | basename }}.pafplot.png
    {% endfor %}
  cpus: 4
  mem: 20G
  walltime: "8:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.pafplot.container }}
  cmd: |
    set -eu
    set -o pipefail

    {% for input_assembly in input_assemblies %}
    pafplot \
      -p {{ results_dir }}/{{ input_assembly | basename }}.pafplot.png \
      {{ input_assembly }}.minimap2.paf
    {% endfor %}

{% endmacro %}

{% macro pafr(pair, input_assemblies, aligner, assembler) %}

- name: pafr_{{ aligner }}_{{ pair.project }}_{{ assembler }}
  input:
    {% for input_assembly in input_assemblies %}
    - {{ input_assembly }}.minimap2.paf
    {% endfor %}
  output:
    {% for input_assembly in input_assemblies %}
    - {{ input_assembly }}.minimap2.paf_dotplot.png
    {% endfor %}
  cpus: 2
  mem: 8G
  walltime: "1:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.pafr.container }}
  cmd: |
    set -eu
    set -o pipefail

    {% for input_assembly in input_assemblies %}
    Rscript --vanilla {{ required_scripts.pafr_plot_Rscript.path }} \
      -i {{ input_assembly }}.minimap2.paf
    {% endfor %}

{% endmacro %}


