{% macro verkko(pair) %}

{%- set temp_dir %}temp/{{ pair.gltype }}/assembly/verkko/{{ pair.project }}{% endset %}
{%- set results_dir %}{{ pair.gltype }}/assembly/verkko/{{ pair.project }}{% endset %}

{% set ontfqlist = [] %}
{% set pacbiofqlist = [] %}

{% for rg in pair.pacbio %}
  {% for file in rg.data_files %}
    {% set pacbiofq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do pacbiofqlist.append(pacbiofq) %}
  {% endfor %}
{% endfor %}

{% for rg in pair.ont %}
  {% for file in rg.data_files %}
    {% set ontfq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do ontfqlist.append(ontfq) %}
  {% endfor %}
{% endfor %}

- name: verkko_{{ pair.project }}
  input:
    {% for ontfq in ontfqlist %}
    - {{ ontfq }}
    {% endfor %}
    {% for pacbiofq in pacbiofqlist %}
    - {{ pacbiofq }}
    {% endfor %}
  output: {{ results_dir }}
  cpus: 20
  mem: 200G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.verkko.container }}
  cmd: |
    set -eu
    set -o pipefail

    verkko \
      --local-cpus 20 \
      --local-memory 200 \
      {% if pacbiofqlist | length > 0 %}
      --hifi "{{ pacbiofqlist | join('" "') }}" \
      {% endif %}
      {% if ontfqlist | length > 0 %}
      --nano "{{ ontfqlist | join('" "') }}" \
      {% endif %}
      -d {{ results_dir }}

{% endmacro %}

