{% from 'modules/assembly/assembly_stats.j2' import assembly_stats with context %}
{% from 'modules/assembly/quast.j2' import quast with context %}

{% from 'modules/assembly/minimap2.j2' import minimap2_asm with context %}
{% from 'modules/assembly/mashmap.j2' import mashmap with context %}

{% from 'modules/assembly/plotting.j2' import moddotplot with context %}

{% macro verkko(pair) %}

{%- set temp_dir %}temp/{{ pair.gltype }}/assembly/verkko/{{ pair.project }}{% endset %}
{%- set results_dir %}{{ pair.gltype }}/assembly/verkko/{{ pair.project }}{% endset %}

{% set ontfqlist = [] %}
{% set hififqlist = [] %}

{% for file in pair.pacbio %}
    {% set pacbiofq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do hififqlist.append(pacbiofq) %}
{% endfor %}

{% for file in pair.ont|selectattr('fastqCode', 'eq', 'duplex')|list %}
    {% set hififq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do hififqlist.append(hififq) %}
    {% set simplexfq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.simplex.fastq.gz{% endset %}
    {% do ontfqlist.append(simplexfq) %}
{% endfor %}

{% for file in pair.ont|selectattr('fastqCode', 'eq', 'simplex')|list %}
    {% set ontfq %}temp/fastqs/{{ file.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do ontfqlist.append(ontfq) %}
{% endfor %}

{% if hififqlist | length > 0 %}
- name: verkko_{{ pair.project }}
  input:
    {% for ontfq in ontfqlist %}
    - {{ ontfq }}
    {% endfor %}
    {% for hififq in hififqlist %}
    - {{ hififq }}
    {% endfor %}
  output: {{ results_dir }}/assembly.fasta
  cpus: 32
  mem: 600G
  walltime: "72:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.verkko.container }}
  cmd: |
    set -eu
    set -o pipefail

    rm -r {{ temp_dir }} || true
    mkdir -p {{ temp_dir }}
    mkdir -p {{ results_dir }}

    verkko \
      --local-cpus 32 \
      --local-memory 584 \
      {% if hififqlist | length > 0 %}
      --hifi "{{ hififqlist | join('" "') }}" \
      {% endif %}
      {% if ontfqlist | length > 0 %}
      --nano "{{ ontfqlist | join('" "') }}" \
      {% else %}
      --no-nano \
      {% endif %}
      --screen human \
      -d {{ temp_dir }}

    mv {{ temp_dir }}/assembly* {{ results_dir }}

{% set input_assembly %}{{ results_dir }}/assembly.fasta{% endset %}
{{- assembly_stats(pair, input_assembly, 'verkko') }}
{{- quast(pair, input_assembly, 'verkko') }}

{% if tasks.plot_assembly | default(false) %}
{{- minimap2_asm(pair, input_assembly, 'verkko') }}
{{- mashmap(pair, input_assembly, 'verkko') }}

{{- moddotplot(pair, input_assembly, 'verkko') }}
{% endif %}

{% else %}
  {% set log_msg %}verkko was enabled, but no pacbio or ont duplex data was found. Verkko requires pacbio or ont duplex input data, so this task was skipped{% endset %}
  {{ log(log_msg, level='WARNING') }}
{% endif %}
{% endmacro %}

