{# Tasks contains switches for toggling many of the features #}
{% if tasks is not defined %}
    {% set tasks = {} %}
{% endif %}

{% set supported_references = ['chm13', 'grch38'] %}

{% if reference is not defined or reference == "" %}
    {% set reference = "grch38" %}
    {% set log_msg %}reference not defined, defaulting to grch38{% endset %}
    {{ log(log_msg, level='WARNING') }}
{% elif reference|lower not in ['chm13', 'grch38'] %}
    {% set raise_msg %}Unsupported reference defined! {{ reference|lower }} is not in {{ supported_references }}{% endset %}
    {{ raise(raise_msg) }}
{% endif %}

{% set reference = reference | lower %}

{# Known long read platform models in lower case for comparison against sample.rgpm #}
{% set known_long_read_platforms = ['revio', 'promethion', 'minion'] %}

{% set required_scripts = {} %}
{% for name, value in constants.grandcanyon.required_scripts.items() %}
    {% set path = '${JS_PIPELINE_PATH}/' ~ __pipeline__.bin ~ value %}
    {% do required_scripts.update({name: {}}) %}
    {% do required_scripts[name].update({"path": path}) %}
{% endfor %}

{# submissionSource toggles specific tasks based on how they were submitted #}
{% if submissionSource is not defined %}
    {% set submissionSource = "unknown" %}
{% endif %}

{% from 'utilities/copy_fastq.j2' import copy_fastq with context %}
{% from 'utilities/copy_ubam.j2' import copy_ubam with context %}
{% from 'utilities/copy_bam.j2' import copy_bam with context %}
{% from 'modules/dna_alignment/main.j2' import dna_alignment with context %}
{% from 'modules/rna/main.j2' import rna_alignment with context %}
{% from 'modules/variant_calling/main.j2' import constitutional_variant_calling with context %}
{% from 'modules/variant_calling/main.j2' import somatic_variant_calling with context %}
{% from 'modules/assembly/main.j2' import assembly with context %}

{% set samples = {} %}

{% for file in dataFiles %}
    {% set bn = file.fastqPath | basename %}
    {% set gltype = file.glType | lower | replace("genomephased", "genome") %}
    {% set glprep = file.glPrep | lower %}
    {% if 'sampleMergeKey' in file %}
        {% set name = file.sampleMergeKey %}
    {% else %}
        {% set name = file.sampleName %}
    {% endif %}

    {% do file.update({'name': name}) %}
    {% do file.update({'basename': bn}) %}
    {% do file.update({'gltype': gltype}) %}
    {% do file.update({'glprep': glprep}) %}
    {% do file.update({'path': file.fastqPath}) %}

    {% if 'subGroup' not in file %}
        {% do file.update({'subGroup': 'constitutional'}) %}
    {% endif %}

    {% if long_read_only is defined and long_read_only and file.rgpl not in ['ONT', 'PACBIO'] %}

    {% else %}
    {% if name not in samples %}
        {% do samples.update({name: {}}) %}
        {% do samples[name].update(file) %}
        {% do samples[name].update({"name": name}) %}
    {% endif %}
    {% endif %}

{% endfor %}

{% for rgid, data_files in dataFiles | groupby('rgid') %}
    {% set rg = data_files|first %}
    {% if 'sampleMergeKey' in rg %}
        {% set name = rg.sampleMergeKey %}
    {% else %}
        {% set name = rg.sampleName %}
    {% endif %}

    {% if name in samples %}
    {% if not 'read_groups' in samples[name] %}
        {% do samples[name].update({'read_groups': {}}) %}
    {% endif %}

    {% do samples[name]['read_groups'].update({rgid: {}}) %}
    {% do samples[name]['read_groups'][rgid].update(rg) %}
    {% do samples[name]['read_groups'][rgid].update({'data_files': data_files}) %}

    {% for file in data_files %}
      {% if file.fileType == "fastq" %}
        {{- copy_fastq(file) }}
      {% elif file.fileType == "ubam" %}
        {{- copy_ubam(file) }}
      {% elif file.fileType == "bam" %}
        {{- copy_bam(file) }}
      {% endif %}
    {% endfor %}

    {% endif %}
{% endfor %}

{% for sample in samples.values() %}
    {% do sample.update({'aligners': []}) %}

    {% if sample.gltype in ['genome', 'exome'] and sample.glprep not in ['longread'] %}
        {% if tasks[sample.gltype|capitalize+"_alignment_dna_alignment_bwa"]|default(false) %}
            {% do sample.aligners.append('bwa') %}
        {% endif %}
        {% if tasks[sample.gltype|capitalize+"_alignment_dna_alignment_minimap2"]|default(false) %}
            {% do sample.aligners.append('minimap2') %}
        {% endif %}
    {% endif %}

    {% for rgid, rg in sample.read_groups.items() %}
        {% for file in rg.data_files|selectattr('fastqCode', 'eq', 'simplex') %}
          {% set duplex_matches = rg.data_files|selectattr('fastqCode', 'eq', 'duplex')|selectattr('sampleName', 'eq', file.sampleName)|selectattr('rgid', 'eq', file.rgid)|list %}
          {% if duplex_matches | length > 0 %}
              {% do rg.data_files.pop(loop.index) %}
          {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}

{% for sample in samples.values() if sample.gltype == 'exome' %}
    {% do sample.update({'library_code': sample.assayCode[0:2]|upper}) %}
    {% do sample.update({'capture_kit_code': sample.assayCode[-3:]|upper}) %}

    {% set capture_kit_path_prefix %}{{ constants.grandcanyon[reference].capture_kit_path }}/{{ sample.capture_kit_code }}/{{ sample.capture_kit_code }}_{{ constants.grandcanyon[reference].genome_subversion_name }}_{{ constants.grandcanyon[reference].gene_model_name }}{% endset %}
    {% set targets_interval_list %}{{ capture_kit_path_prefix }}.targets.interval_list{% endset %}
    {% set no_header_targets_interval_list %}{{ capture_kit_path_prefix }}.no.header.targets.interval_list{% endset %}
    {% set baits_interval_list %}{{ capture_kit_path_prefix }}.baits.interval_list{% endset %}
    {% set extended_bed %}{{ capture_kit_path_prefix }}.extended.bed{% endset %}

    {% do sample.update({'capture_kit': {}}) %}
    {% do sample['capture_kit'].update({'targets_interval_list': targets_interval_list}) %}
    {% do sample['capture_kit'].update({'no_header_targets_interval_list': no_header_targets_interval_list}) %}
    {% do sample['capture_kit'].update({'baits_interval_list': baits_interval_list}) %}
    {% do sample['capture_kit'].update({'extended_bed': extended_bed}) %}
{% endfor %}

{% for sample in samples.values() if sample.gltype == 'rna' %}
    {% set readOrientation=sample.readOrientation|default('inward')|lower|replace('-','') %}
    {% set rnaStrandType=sample.rnaStrandType|default('unstranded')|lower|replace('-','') %}
    {% set rnaStrandDirection=sample.rnaStrandDirection|default('notapplicable')|lower|replace('-','') %}
    {% set strandedness %}{{ readOrientation }}-{{ rnaStrandType }}-{{ rnaStrandDirection }}{% endset %}
    {% do sample.update({'strandedness': strandedness}) %}
{% endfor %}

{# Start of module calls #}
{{- dna_alignment(samples) }}

{{- rna_alignment(samples) }}

{{- constitutional_variant_calling(samples) }}

{{- somatic_variant_calling(samples) }}

{{- assembly() }}

