{% macro check_bam_rg_tags(bam) %}

- name: check_bam_rg_tags_{{ bam.basename | replace(".", "_") }}
  input: {{ bam.path }}
  cpus: 1
  walltime: "00:10:00"
  container: {{ constants.tools.samtools.container }}
  digest: {{ constants.tools.samtools.digest }}
  cmd: |
    set -uev
    
    {# TODO - implement RG checking
    This should likely be within the exec in order to fail the
    project before it continues on with other tasks. Should be
    a render time failures realistically
    #}

{% endmacro %}


