{% from 'utilities/fastq_stats.j2' import fastq_stats with context %}

{% macro copy_ubam(ubam) %}

- name: copy_ubams_{{ ubam.basename | replace(".", "_") }}
  input: {{ ubam.path }}
  output:
    - temp/ubams/{{ ubam.basename }}
  retry: 2
  cpus: 6
  walltime: "4:00:00"
  queue_preset: "DATA-MOVER"
  cmd: |
    set -uev

    mkdir -p temp/ubams/

    rsync {{ ubam.path }} temp/ubams/

- name: convert_ubam_to_fastq_{{ ubam.basename | replace(".", "_") }}
  input:
    - temp/ubams/{{ ubam.basename }}
  output:
    - temp/fastqs/{{ ubam.basename | replace(".", "_") }}.fastq.gz
    {% if ubam.fastqCode == 'duplex' %}
    - temp/fastqs/{{ ubam.basename | replace(".", "_") }}.simplex.fastq.gz
    {% endif %}
  cpus: 6
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.samtools.container }}
  cmd: |
    set -uev

    mkdir -p temp/fastqs/
    
    {# we currently expect ont style input, which isn't paired so we output to -0 #}
    {% if ubam.fastqCode == 'duplex' %}
    samtools fastq \
      --threads 6 \
      -T '*' \
      -d dx:1 \
      temp/ubams/{{ ubam.basename }} \
      -0 temp/fastqs/{{ ubam.basename | replace(".", "_") }}.fastq.gz

    samtools fastq \
      --threads 6 \
      -T '*' \
      -d dx:0 \
      temp/ubams/{{ ubam.basename }} \
      -0 temp/fastqs/{{ ubam.basename | replace(".", "_") }}.simplex.fastq.gz
    {% else %}
    samtools fastq \
      --threads 6 \
      -T '*' \
      temp/ubams/{{ ubam.basename }} \
      -0 temp/fastqs/{{ ubam.basename | replace(".", "_") }}.fastq.gz
    {% endif %}

{% set file %}temp/fastqs/{{ ubam.basename | replace(".", "_") }}.fastq.gz{% endset %}
{{- fastq_stats(file) }}
{% if ubam.fastqCode == 'duplex' %}
{% set file %}temp/fastqs/{{ ubam.basename | replace(".", "_") }}.simplex.fastq.gz{% endset %}
{{- fastq_stats(file) }}
{% endif %}

{% endmacro %}

