{% macro copy_ubam(ubam) %}

- name: copy_ubams_{{ ubam.basename | replace(".", "_") }}
  input: {{ ubam.path }}
  output: temp/fastqs/{{ ubam.basename | replace(".", "_") }}.fastq.gz
  retry: 2
  cpus: 6
  walltime: "4:00:00"
  queue_preset: "DATA-MOVER"
  container: {{ constants.tools.samtools.container }}
  cmd: |
    set -uev

    mkdir -p temp/fastqs/

    {# we currently expect ont style input, which isn't paired so we output to -0 #}
    samtools fastq \
      --threads 6 \
      -T '*' \
      {% if ubam.fastqCode == 'duplex' %}
      -d dx:1 \
      {% endif %}
      {{ ubam.path }} \
      -0 temp/fastqs/{{ ubam.basename | replace(".", "_") }}.fastq.gz

{% endmacro %}

