{% macro copy_fastq(fastq) %}

- name: copy_fastqs_{{ fastq.basename | replace(".", "_") }}
  input: {{ fastq.path }}
  output: temp/fastqs/{{ fastq.basename }}
  retry: 2
  cpus: 6
  walltime: "4:00:00"
  queue_preset: "DATA-MOVER"
  cmd: |
    set -uev

    mkdir -p temp/fastqs/

    rsync "{{ fastq.path }}" "temp/fastqs/"

{% endmacro %}

