{% macro fastq_stats(fastq) %}

- name: seqkit_stats_{{ fastq | basename | replace('.', '_') }}
  input: {{ fastq }}
  output: {{ fastq }}.stats.tsv
  cpus: 4
  mem: 8G
  walltime: "4:00:00"
  container: {{ constants.tools.seqkit.container }}
  cmd: |
    set -eu

    seqkit stats \
      --threads 4 \
      --all \
      --tabular \
      --basename \
      --out-file {{ fastq }}.stats.tsv \
      {{ fastq }}

{% endmacro %}
