{% macro fastq_stats() %}

- name: seqkit_stats_{{ project }}
  input-re: temp/fastqs/.*.fastq.gz
  output: temp/fastqs/{{ project }}.stats.tsv
  cpus: 16
  mem: 32G
  walltime: "8:00:00"
  container: {{ constants.tools.seqkit.container }}
  cmd: |
    set -eu

    seqkit stats \
      --threads 16 \
      --all \
      --tabular \
      --basename \
      --out-file {{ project }}.stats.tsv \
      temp/fastqs/*.fastq.gz

{% endmacro %}
