{% macro finalize(samples) %}

{% if clean_up_data_files_on_finalize | default(false) %}
{#
This will only run in special circumstances and will not be enablable from kbase.
Expecation is that after rsync, which should be error free, we no longer need the
fastq from the source location.
#}

{% set file_list = [] %}
{% for file in dataFiles %}
  {% if file.fastqPath is defined %}
    {% do file_list.append(file.fastqPath) %}
  {% elif file.path is defined %}
    {% do file_list.append(file.path) %}
  {% endif %}
{% endfor %}

- name: clean_up_source
  input:
    {% for path in file_list %}
    - {{ path }}
    {% endfor %}
  before: finalize
  after-re: ^(?!finalize).*$
  cpus: 1
  mem: 2G
  walltime: "1:00:00"
  cmd: |
    set -euv

    {% for path in file_list %}
    rm -f {{ path }}
    {% endfor %}

{% endif %}

- name: finalize
  after-re: .*
  cpus: 1
  mem: 2G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.multiqc.container }}
  cmd: |
    set -uev

    mkdir --parents qc
    multiqc --force --outdir qc .

    {% if not keep_alignments|default(true) %}
    {% for sample in samples.values() %}
      {% for aligner in sample.aligners %}
        {% set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.cram{% endset %}
        {% set bam_index %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.cram.crai{% endset %}
    rm -f {{ bam }}
    rm -f {{ bam_index }}
      {% endfor %}
    {% endfor %}
    {% endif %}

{% endmacro %}
