{% from 'modules/dna_alignment/minimap2.j2' import minimap2 with context %}

{% macro dna_alignment(samples) %}

  {% for sample in samples.values() if sample.gltype in ['genome', 'genomephased', 'exome'] %}
    {{- minimap2(sample, aligner='minimap2') }}
  {% endfor %}

{% endmacro %}

