{#
  echo 'Reccomended parameters for data-type:'
  echo "> For PacBio CLR data:
  --max_cluster_bias_INS    100
  --diff_ratio_merging_INS  0.3
  --max_cluster_bias_DEL  200
  --diff_ratio_merging_DEL  0.5

> For PacBio CCS(HIFI) data:
  --max_cluster_bias_INS    1000
  --diff_ratio_merging_INS  0.9
  --max_cluster_bias_DEL  1000
  --diff_ratio_merging_DEL  0.5

> For ONT data:
  --max_cluster_bias_INS    100
  --diff_ratio_merging_INS  0.3
  --max_cluster_bias_DEL  100
  --diff_ratio_merging_DEL  0.3
> For force calling:
  --min_mapq       10"
#}

{% macro cutesv(sample, aligner) %}

{%- set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.cram{% endset %}
{%- set temp_dir %}temp/{{ sample.gltype }}/constitutional_variant_calls/cutesv/{{ sample.name }}_{{ aligner }}{% endset %}
{%- set results_dir %}{{ sample.gltype }}/constitutional_variant_calls/cutesv/{{ sample.name }}_{{ aligner }}{% endset %}
{%- set all_vcf %}{{ results_dir }}/{{ sample.name }}.{{ aligner }}.cutesv.all.vcf.gz{% endset %}
{%- set pass_vcf %}{{ results_dir }}/{{ sample.name }}.{{ aligner }}.cutesv.pass.vcf.gz{% endset %}

- name: cutesv_{{ sample.name }}_{{ aligner }}
  input:
    - {{ bam }}
    - {{ bam }}.bai
    - {{ constants.grandcanyon.reference_fasta }}
  output:
    - {{ all_vcf }}
  cpus: 8
  mem: 32G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.cutesv.container }}
  cmd: |
    set -eu
    set -o pipefail

    cuteSV \
      {{ bam }} \
      {{ constants.grandcanyon.reference_fasta }} \
      {{ all_vcf }} \
      {{ temp_dir }} \
      {% if sample.rgpl == 'ont' %}
      --max_cluster_bias_INS 100 \
      --diff_ratio_merging_INS 0.3 \
      --max_cluster_bias_DEL 100 \
      --diff_ratio_merging_DEL 0.3 \
      {% elif sample.rgpl == 'hifi' %}
      --max_cluster_bias_INS 1000 \
      --diff_ratio_merging_INS 0.9 \
      --max_cluster_bias_DEL 1000 \
      --diff_ratio_merging_DEL 0.5 \
      {% endif %}
      --threads 8

{% endmacro %}
