{% macro cytocad(sample) %}

{%- set bam %}temp/{{ sample.gltype }}/alignment/minimap2/{{ sample.name }}/{{ sample.name }}.minimap2.bam{% endset %}
{%- set temp_dir %}temp/{{ sample.gltype }}/constitutional_copy_number/cytocad/{{ sample.name }}_minimap2{% endset %}
{%- set results_dir %}{{ sample.gltype }}/constitutional_copy_number/cytocad/{{ sample.name }}_minimap2{% endset %}

- name: cytocad_{{ sample.name }}_minimap2
  input:
    - {{ bam }}
    - {{ bam }}.bai
    - {{ constants.grandcanyon.reference_fasta }}
  output:
    - {{ results_dir }}/{{ sample.name }}.minimap2.CNV.bed
    - {{ results_dir }}/{{ sample.name }}.minimap2.ideo.png
    - {{ results_dir }}/{{ sample.name }}.minimap2.ideo.svg
    - {{ results_dir }}/{{ sample.name }}.minimap2.tagore.bed
  cpus: 16
  mem: 32G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.cytocad.container }}
  cmd: |
    set -eu
    set -o pipefail

    cytocad \
      {{ bam }} \
      {{ results_dir }} \
      -b hg38 \
      -f png \
      -i 50000 \
      -j 10 \
      -r 10 \
      -p 500 \
      -s 0.25 \
      --add_plots

{% endmacro %}
