{% macro cytocad(sample, aligner) %}

{%- set bam %}{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.cram{% endset %}
{%- set temp_dir %}temp/{{ sample.gltype }}/constitutional_copy_number/cytocad/{{ sample.name }}_{{ aligner }}{% endset %}
{%- set results_dir %}{{ sample.gltype }}/constitutional_copy_number/cytocad/{{ sample.name }}_{{ aligner }}{% endset %}
{%- set all_vcf %}{{ results_dir }}/{{ sample.name }}.{{ aligner }}.cytocad.all.vcf.gz{% endset %}
{%- set pass_vcf %}{{ results_dir }}/{{ sample.name }}.{{ aligner }}.cytocad.pass.vcf.gz{% endset %}

- name: cytocad_{{ sample.name }}_{{ aligner }}
  input:
    - {{ bam }}
    - {{ bam }}.bai
    - {{ constants.grandcanyon.reference_fasta }}
  output:
    - {{ all_vcf }}
  cpus: 16
  mem: 32G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.cytocad.container }}
  cmd: |
    set -eu
    set -o pipefail

    cytocad \
      {{ bam }} \
      {{ results_dir }} \
      -b hg38 \
      -f png \
      -i 50000 \
      -j 10 \
      -r 10 \
      -p 500 \
      -s 0.25 \
      --add_plots

