{#
##@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
## HELP of the TOOL hificnv
#hificnv --help
#
#hificnv 0.1.6
#Chris Saunders <csaunders@pacificbiosciences.com>, J. Matthew Holt <mholt@pacificbiosciences.com>
#Copy number variant caller and depth visualization utility for PacBio HiFi reads
#
#Usage: hificnv [OPTIONS] --ref <FILE> --bam <FILE>
#
#Options:
#      --ref <FILE>              Genome reference in FASTA format
#      --bam <FILE>              Alignment file for query sample in BAM format
#      --maf <FILE>              Variant file used to generate minor allele frequency track, in VCF or BCF format
#      --exclude <FILE>          Regions of the genome to exclude from CNV analysis, in BED format
#      --expected-cn <FILE>      Expected copy number values, in BED format
#      --output-prefix <PREFIX>  Prefix used for all file output. If the prefix includes a directory, the directory must already exist [default: hificnv]
#      --threads <THREAD_COUNT>  Number of threads to use. Defaults to all logical cpus detected
#      --cov-regex <REGEX>       Regex used to select chromosomes for mean haploid coverage estimation. All selected chromosomes are assumed diploid [default: ^(chr)?\d{1,2}$]
#  -h, --help                    Print help
#  -V, --version                 Print version
#
#Copyright (C) 2004-2023     Pacific Biosciences of California, Inc.
#This program comes with ABSOLUTELY NO WARRANTY; it is intended for
#Research Use Only and not for use in diagnostic procedures.
##@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
#}

{% macro hifi_cnv(sample) %}

{%- set bam %}{{ sample.gltype }}/alignment/minimap2/{{ sample.name }}/{{ sample.name }}.minimap2.cram{% endset %}
{%- set temp_dir %}temp/{{ sample.gltype }}/constitutional_variant_calls/hifi_cnv/{{ sample.name }}_minimap2{% endset %}
{%- set results_dir %}{{ sample.gltype }}/constitutional_variant_calls/hifi_cnv/{{ sample.name }}_minimap2{% endset %}
{%- set all_vcf %}{{ results_dir }}/{{ sample.name }}.minimap2.hifi_cnv.all.vcf.gz{% endset %}
{%- set pass_vcf %}{{ results_dir }}/{{ sample.name }}.minimap2.hifi_cnv.pass.vcf.gz{% endset %}

- name: hifi_cnv_{{ sample.name }}_minimap2
  input:
    - {{ bam }}
    - {{ bam }}.bai
    - {{ constants.grandcanyon.reference_fasta }}
  output:
    - {{ results_dir }}/{{ sample.name }}.minimap2.hifi_cnv.vcf.gz
  cpus: 16
  mem: 32G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.hificnv.container }}
  cmd: |
    set -eu
    set -o pipefail

    hificnv \
      --threads 8 \
      --ref {{ constants.grandcanyon.reference_fasta }} \
      --bam {{ bam }} \
      --output-prefix {{ results_dir }}/{{ sample.name }}.minimap2.hifi_cnv

{% endmacro %}
