{% from 'modules/variant_calling/deepvariant.j2' import deepvariant with context %}
{% from 'modules/variant_calling/cutesv.j2' import cutesv with context %}
{% from 'modules/variant_calling/longshot.j2' import longshot with context %}
{% from 'modules/variant_calling/sniffles.j2' import sniffles with context %}
{% from 'modules/variant_calling/pbsv.j2' import pbsv with context %}
{% from 'modules/variant_calling/severus.j2' import severus with context %}

{%- macro constitutional_variant_calling(samples) %}

{%- for sample in samples.values() if sample.gltype in ('exome', 'genome', 'genomephased') %}

  {% for aligner in sample.aligners %}
    {%- if sample.subGroup|lower != 'tumor' %}
      {{- deepvariant(sample, aligner) }}
      {{- cutesv(sample, aligner) }}
      {{- longshot(sample, aligner) }}
      {{- sniffles(sample, aligner) }}
      {{- severus(sample, aligner) }}
      {% if sample.rgpl in ('hifi', 'ccs', 'clr') %}
        {{- pbsv(sample, aligner) }}
      {% endif %}
    {% endif %}
  {% endfor %}

{% endfor %}

{% endmacro %}

