{#
  to haplotag ONT data use allParams.haplotag.ont-r94g507.json
  to haplotag PacBio HiFi data use allParams.haplotag.pb-hifi.json
  to phase a VCF generated using ONT data use allParams.phase_vcf.ont.json
  to phase a VCF generated using PacBio-HiFi data use: allParams.phase_vcf.pb-hifi.json
#}

{% macro margin(sample, input_vcf) %}

{%- set bam %}temp/{{ sample.gltype }}/alignment/minimap2/{{ sample.name }}/{{ sample.name }}.minimap2.bam{% endset %}
{%- set temp_dir %}temp/{{ sample.gltype }}/constitutional_variant_calls/margin/{{ sample.name }}_minimap2{% endset %}
{%- set results_dir %}{{ sample.gltype }}/constitutional_variant_calls/margin/{{ sample.name }}_minimap2{% endset %}

- name: margin_deepvariant_{{ sample.name }}_minimap2
  input:
    - {{ input_vcf }}
    - {{ bam }}
    - {{ bam }}.bai
    - {{ constants.grandcanyon.reference_fasta }}
  output:
    - {{ all_vcf }}
  cpus: 8
  mem: 32G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.margin.container }}
  cmd: |
    set -eu
    set -o pipefail

    mkdir -p {{ temp_dir }}
    mkdir -p {{ results_dir }}

    margin phase \
      {{ bam }} \
      {{ constants.grandcanyon.reference_fasta }} \
      {{ input_vcf }} \
      {% if sample.rgpl == 'ONT' %}
      /opt/margin/params/phase/allParams.phase_vcf.ont.json \
      {% elif sample.rgpl == 'PACBIO' %}
      /opt/margin/params/phase/allParams.phase_vcf.pb-hifi.json \
      {% endif %}
      -t 8 \
      -o {{ results_dir }}

{% endmacro %}
