{#
usage: severus [-h] [-v] --target-bam path [path ...] [--control-bam path [path ...]] --out-dir path [-t int] [--min-support int] [--min-reference-flank int] [--bp-cluster-size int] [--min-sv-size int] [--max-read-error float] [--min-mapq int] [--reference-adjacencies] [--write-alignments] [--single-bp] [--max-genomic-len int]
               [--phasing-vcf path] [--vntr-bed path] [--filter-small-svs] [--TIN-ratio float] [--output-all] [--write-collapsed-dup] [--no-ins-seq] [--inbetween-ins] [--only-somatic] [--output-LOH] [--omit-resolve-overlaps] [--tra-to-ins]

Find breakpoints and build breakpoint graph from a bam file

options:
  -h, --help            show this help message and exit
  -v, --version         show program's version number and exit
  --target-bam path [path ...]
                        path to one or multiple target bam files (e.g. tumor, must be indexed)
  --control-bam path [path ...]
                        path to the control bam file (e.g. normal, must be indexed)
  --out-dir path        Output directory
  -t int, --threads int
                        number of parallel threads [8]
  --min-support int     minimum reads supporting double breakpoint [3]
  --min-reference-flank int
                        minimum distance between a breakpoint and reference ends [10000]
  --bp-cluster-size int
                        maximum distance in bp cluster [50]
  --min-sv-size int     minimim size for sv [50]
  --max-read-error float
                        maximum base alignment error [0.005]
  --min-mapq int        minimum mapping quality for aligned segment [10]
  --reference-adjacencies
                        draw reference adjacencies [False]
  --write-alignments    write read alignments to file [False]
  --single-bp           Add hagning breakpoints [False]
  --max-genomic-len int
                        maximum length of genomic segment to form connected components [50000]
  --phasing-vcf path    path to vcf file used for phasing (if using haplotype specific SV calling)[None]
  --vntr-bed path       bed file with tandem repeat locations [None]
  --filter-small-svs    filters small svs < 5000
  --TIN-ratio float     Tumor in normal ratio[{CONTROL_VAF}]
  --output-all          outputs FAIL SVs in addition to PASS SVs
  --write-collapsed-dup
                        outputs a bed file with identified collapsed duplication regions
  --no-ins-seq          do not output insertion sequences to the vcf file
  --inbetween-ins       report unmapped insertions around breakpoints
  --only-somatic        omits germline outputs in the somatic mode
  --output-LOH          outputs a bed file with predicted LOH regions
  --omit-resolve-overlaps
  --tra-to-ins          converts insertions to translocations if mapping is known
#}

{% macro severus(sample_or_pair) %}

{% if sample_or_pair.normal is defined %}
{%- set phased_vcf %}{{ sample_or_pair.gltype }}/constitutional_variant_calls/deepvariant/{{ sample_or_pair.normal.name }}_minimap2/{{ sample_or_pair.normal.name }}.minimap2.deepvariant.whatshap.phased.vcf.gz{% endset %}
{%- set normal_bam %}temp/{{ sample_or_pair.gltype }}/alignment/minimap2/{{ sample_or_pair.normal.name }}/{{ sample_or_pair.normal.name }}.minimap2.bam{% endset %}
{%- set tumor_bam %}temp/{{ sample_or_pair.gltype }}/alignment/minimap2/{{ sample_or_pair.tumor.name }}/{{ sample_or_pair.tumor.name }}.minimap2.bam{% endset %}
{%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/somatic_variant_calls/severus/{{ sample_or_pair.name }}_minimap2{% endset %}
{%- set temp_vcf %}{{ temp_dir }}/somatic_SVs/severus_somatic.vcf{% endset %}
{%- set results_dir %}{{ sample_or_pair.gltype }}/somatic_variant_calls/severus/{{ sample_or_pair.name }}_minimap2{% endset %}
{% else %}
{%- set bam %}temp/{{ sample_or_pair.gltype }}/alignment/minimap2/{{ sample_or_pair.name }}/{{ sample_or_pair.name }}.minimap2.bam{% endset %}
{%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/constitutional_variant_calls/severus/{{ sample_or_pair.name }}_minimap2{% endset %}
{%- set temp_vcf %}{{ temp_dir }}/all_SVs/severus_all.vcf{% endset %}
{%- set results_dir %}{{ sample_or_pair.gltype }}/constitutional_variant_calls/severus/{{ sample_or_pair.name }}_minimap2{% endset %}
{% endif %}
{%- set all_vcf %}{{ results_dir }}/{{ sample_or_pair.name }}.minimap2.severus.all.vcf.gz{% endset %}
{%- set pass_vcf %}{{ results_dir }}/{{ sample_or_pair.name }}.minimap2.severus.pass.vcf.gz{% endset %}

- name: severus_{{ sample_or_pair.name }}_minimap2
  reset: predecessors
  input:
    {% if sample_or_pair.normal is defined %}
    - {{ tumor_bam }}
    - {{ tumor_bam }}.bai
    - {{ normal_bam }}
    - {{ normal_bam }}.bai
    - {{ phased_vcf }}
    {% else %}
    - {{ bam }}
    - {{ bam }}.bai
    {% endif %}
    - {{ constants.grandcanyon[reference].reference_fasta }}
    - {{ constants.grandcanyon[reference].tool_resources.severus.vntrs }}
  output:
    - {{ temp_vcf }}
    - {{ results_dir }}/{{ sample_or_pair.name }}_breakpoints_double.csv
    - {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters.csv
    - {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters_list.tsv
    - {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_graph.gv
  cpus: 16
  mem: 64G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.severus.container }}
  cmd: |
    set -eu
    set -o pipefail

    rm -r {{ temp_dir }} || true
    mkdir -p {{ temp_dir }}
    mkdir -p {{ results_dir }}

    {% if sample_or_pair.normal is defined %}
    severus \
      --threads 16 \
      --target-bam {{ tumor_bam }} \
      --control-bam {{ normal_bam }} \
      --out-dir {{ temp_dir }} \
      --phasing-vcf {{ phased_vcf }} \
      --vntr-bed {{ constants.grandcanyon[reference].tool_resources.severus.vntrs }}

    mv {{ temp_dir }}/breakpoints_double.csv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoints_double.csv
    mv {{ temp_dir }}/somatic_SVs/breakpoint_clusters.csv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters.csv
    mv {{ temp_dir }}/somatic_SVs/breakpoint_clusters_list.tsv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters_list.tsv
    mv {{ temp_dir }}/somatic_SVs/breakpoint_graph.gv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_graph.gv
    {% else %}
    severus \
      --threads 16 \
      --target-bam {{ bam }} \
      --out-dir {{ temp_dir }}

    mv {{ temp_dir }}/breakpoints_double.csv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoints_double.csv
    mv {{ temp_dir }}/all_SVs/breakpoint_clusters.csv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters.csv
    mv {{ temp_dir }}/all_SVs/breakpoint_clusters_list.tsv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters_list.tsv
    mv {{ temp_dir }}/all_SVs/breakpoint_graph.gv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_graph.gv
    {% endif %}


- name: severus_filter_variants_{{ sample_or_pair.name }}_minimap2
  input:
    - {{ temp_vcf }}
  output:
    - {{ all_vcf }}
    - {{ all_vcf }}.tbi
    - {{ pass_vcf }}
    - {{ pass_vcf }}.tbi
  cpus: 1
  mem: 4G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.bcftools.container }}
  cmd: |
    set -eu

    mkdir -p {{ results_dir }}

    bcftools view \
      --output-type z \
      --output {{ all_vcf }} \
      --write-index \
      {{ temp_vcf }}

    bcftools filter \
      --include 'FILTER == "PASS"' \
      --output-type z \
      --output {{ pass_vcf }} \
      --write-index \
      {{ all_vcf }}

{% endmacro %}
