{% macro sigprofiler(sample_or_pair, input_vcf, aligner, variant_caller) %}

{% if constants.grandcanyon[reference].tool_resources.sigprofiler.ref_dir is defined %}

{% if input_vcf.endswith('.vcf') %}
  {% set vcf_prefix = input_vcf.split('.')[:-1]|join('.') %}
{% elif input_vcf.endswith('.vcf.gz') %}
  {% set vcf_prefix = input_vcf.split('.')[:-2]|join('.') %}
{% else %}
  {{ raise('{} does not appear to be a vcf!'.format(input_vcf)) }}
{% endif %}

{% set temp_dir %}temp/{{ sample_or_pair.gltype }}/metrics/sigprofiler/{{ sample_or_pair.name }}_{{ aligner }}_{{ variant_caller }}{% endset %}
{% set temp_vcf_dir %}{{ temp_dir }}/vcfs{% endset %}
{% set results_dir %}{{ sample_or_pair.gltype }}/metrics/sigprofiler/{{ sample_or_pair.name }}_{{ aligner }}_{{ variant_caller }}{% endset %}

- name: sigprofiler_{{ variant_caller }}_{{ sample_or_pair.name }}_{{ aligner }}
  tags: [{{ sample_or_pair.gltype }}, somatic, mutational_signatures, sigprofiler, {{ sample_or_pair.name }}]
  input:
    - {{ input_vcf }}
    - {{ constants.grandcanyon[reference].tool_resources.sigprofiler.ref_dir }}
    - {{ constants.grandcanyon[reference].tool_resources.sigprofiler.sbs }}
    - {{ constants.grandcanyon[reference].tool_resources.sigprofiler.dbs }}
  cpus: 2
  mem: 4G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.sigprofiler.container }}
  cmd: |
    set -eu
    set -o pipefail

    rm -r {{ temp_vcf_dir }} || true
    mkdir -p {{ temp_vcf_dir }}
    mkdir -p {{ results_dir }}/{SBS,DBS}

    gunzip -c {{ input_vcf }} > {{ temp_vcf_dir }}/{{ vcf_prefix | basename }}.vcf

    export SIGPROFILERMATRIXGENERATOR_VOLUME="{{ constants.grandcanyon[reference].tool_resources.sigprofiler.ref_dir }}"
    export SIGPROFILERASSIGNMENT_VOLUME="{{ temp_dir }}"

    SigProfilerAssignment cosmic_fit \
      {{ temp_vcf_dir }} \
      {{ results_dir }}/SBS \
      --signatures {{ constants.grandcanyon[reference].tool_resources.sigprofiler.sbs }} \
      --genome_build GRCh38 \
      --cosmic_version 3.6 \
      --input_type vcf \
      {% if sample_or_pair.gltype == 'exome' %}
      --exome True \
      {% endif %}
      --context_type "96"

    SigProfilerAssignment cosmic_fit \
      {{ temp_vcf_dir }} \
      {{ results_dir }}/DBS \
      --signatures {{ constants.grandcanyon[reference].tool_resources.sigprofiler.dbs }} \
      --genome_build GRCh38 \
      --cosmic_version 3.6 \
      --input_type vcf \
      --collapse_to_SBS96 False \
      {% if sample_or_pair.gltype == 'exome' %}
      --exome True \
      {% endif %}
      --context_type "DINUC"

{% else %}
  {% set log_msg %}sigprofiler was enabled, but the sigprofiler ref_dir was not defined for {{ reference }}{% endset %}
  {{ log(log_msg, level='WARNING') }}
{% endif %}

{% endmacro %}
