{% macro tucon(pair, input_vcf, annotate_flag, variant_caller, aligner) %}

{% set temp_dir %}temp/{{ pair.gltype }}/metrics/tucon/{{ pair.name }}_{{ aligner }}{% endset %}
{% set results_dir %}{{ pair.gltype }}/metrics/tucon/{{ pair.name }}_{{ aligner }}{% endset %}
{% set tucon_output %}{{ results_dir }}/{{ pair.name }}_{{ annotate_flag }}_tucon.tsv{% endset %}

- name: tucon_{{ pair.name }}_{{ annotate_flag }}_{{ aligner }}
  tags: [{{ pair.gltype }}, metrics, tucon, {{ annotate_flag }}, {{ pair.name }} ]
  input:
    - {{ input_vcf }}
  output:
    - {{ tucon_output }}
  walltime: "12:00:00"
  cpus: 1
  mem: 2G
  queue_preset: "DEFAULT"
  container: {{ constants.tools.bcftools.container }}
  cmd: |
    set -eu
    set -o pipefail

    mkdir -p {{ results_dir }}

    echo -e "VCF\tMUTATION_COUNT\tTOPMED_COUNT" > {{ tucon_output }}

    VCF_BASE=$(basename {{ input_vcf }})
    MUT_COUNT=$(bcftools view -H {{ input_vcf }} | wc -l)
    TOPMED_COUNT=$(bcftools view -H -i 'INFO/TOPMED=1 & INFO/TOPMED_AF>0.00001' {{ input_vcf }} | wc -l)
    echo -e "${VCF_BASE}\t${MUT_COUNT}\t${TOPMED_COUNT}" >> {{ tucon_output }}

{% endmacro %}
