{% macro spectre(sample, aligner) %}

{%- set bam %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{%- set temp_dir %}temp/{{ sample.gltype }}/constitutional_copy_number/spectre/{{ sample.name }}_{{ aligner }}{% endset %}
{%- set results_dir %}{{ sample.gltype }}/constitutional_copy_number/spectre/{{ sample.name }}_{{ aligner }}{% endset %}

{% set taskPrefix %}{{ sample.gltype | capitalize }}{% endset %}

{% if tasks[taskPrefix+"_variant_calling_structural_caller_sniffles"]|default(true) %}
{%- set sniffles_snf %}{{ sample.gltype }}/constitutional_variant_calls/sniffles/{{ sample.name }}_{{ aligner }}/{{ sample.name }}.{{ aligner }}.sniffles.all.snf{% endset %}
{% endif %}

- name: spectre_mosdepth_{{ sample.name }}_{{ aligner }}
  input:
    - {{ bam }}
    - {{ bam }}.bai
    - {{ constants.grandcanyon[reference].reference_fasta }}
  output:
    - {{ results_dir }}/{{ sample.name }}.mosdepth.global.dist.txt
    - {{ results_dir }}/{{ sample.name }}.mosdepth.summary.txt
    - {{ results_dir }}/{{ sample.name }}.regions.bed.gz
  cpus: 8
  mem: 16G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.mosdepth.container }}
  cmd: |
    set -eu

    mkdir -p {{ results_dir }}

    mosdepth \
      --threads 8 \
      --fast-mode \
      --no-per-base \
      --by 1000 \
      --mapq 20 \
      --fasta {{ constants.grandcanyon[reference].reference_fasta }} \
      {{ results_dir }}/{{ sample.name }} \
      {{ bam }}

- name: spectre_{{ sample.name }}_{{ aligner }}
  input:
    {% if tasks[taskPrefix+"_variant_calling_structural_caller_sniffles"]|default(true) %}
    - {{ sniffles_snf }}
    {% endif %}
    - {{ results_dir }}/{{ sample.name }}.regions.bed.gz
    - {{ constants.grandcanyon[reference].reference_fasta }}
    - {{ constants.grandcanyon[reference].tool_resources.spectre.mdr }}
    - {{ constants.grandcanyon[reference].tool_resources.spectre.denylist }}
  cpus: 16
  mem: 32G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.spectre.container }}
  cmd: |
    set -eu

    rm -r {{ temp_dir }} || true
    mkdir -p {{ temp_dir }}

    {% if tasks[taskPrefix+"_variant_calling_structural_caller_sniffles"]|default(true) %}
    snf2json {{ sniffles_snf }} {{ temp_dir }}/{{ sample.name }}.snfj.gz
    {% endif %}

    spectre CNVCaller \
      --coverage {{ results_dir }}/{{ sample.name }}.regions.bed.gz \
      {% if tasks[taskPrefix+"_variant_calling_structural_caller_sniffles"]|default(true) %}
      --snf {{ temp_dir }}/{{ sample.name }}.snfj.gz \
      {% endif %}
      {% if sample.subGroup|lower == 'tumor' %}
      --cancer \
      {% endif %}
      --sample-id {{ sample.name }} \
      --output-dir {{ results_dir }} \
      --reference {{ constants.grandcanyon[reference].reference_fasta }} \
      --metadata {{ constants.grandcanyon[reference].tool_resources.spectre.mdr }} \
      --blacklist {{ constants.grandcanyon[reference].tool_resources.spectre.denylist }}

{% endmacro %}
