{% macro modkit(sample, aligner) %}

{%- set bam %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{%- set results_dir %}{{ sample.gltype }}/methylation/modkit/{{ sample.name }}_{{ aligner }}{% endset %}

- name: modkit_{{ sample.name }}_{{ aligner }}
  reset: predecessors
  input:
    - {{ bam }}
    - {{ bam }}.bai
    - {{ constants.grandcanyon[reference].reference_fasta }}
  output: {{ results_dir }}/{{ sample.name }}.{{ aligner }}.modkit.pileup.bed
  cpus: 8
  mem: 32G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.modkit.container }}
  cmd: |
    set -eu
    set -o pipefail

    mkdir -p {{ results_dir }}

    modkit pileup \
      --threads 8 \
      --cpg \
      --combine-strands \
      --ignore h \
      --ref {{ constants.grandcanyon[reference].reference_fasta }} \
      {{ bam }} \
      {{ results_dir }}/{{ sample.name }}.{{ aligner }}.modkit.pileup.bed

- name: modkit_compress_and_index_{{ sample.name }}_{{ aligner }}
  reset: predecessors
  input: {{ results_dir }}/{{ sample.name }}.{{ aligner }}.modkit.pileup.bed
  output:
    - {{ results_dir }}/{{ sample.name }}.{{ aligner }}.modkit.pileup.bed.gz
    - {{ results_dir }}/{{ sample.name }}.{{ aligner }}.modkit.pileup.bed.gz.tbi
  cpus: 1
  mem: 2G
  walltime: "8:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.bcftools.container }}
  cmd: |
    set -eu

    bgzip {{ results_dir }}/{{ sample.name }}.{{ aligner }}.modkit.pileup.bed
    tabix {{ results_dir }}/{{ sample.name }}.{{ aligner }}.modkit.pileup.bed.gz

{% endmacro %}
