{% macro rastair(sample, aligner) %}

{%- set bam %}temp/{{ sample.gltype }}/alignment/{{ aligner }}/{{ sample.name }}/{{ sample.name }}.{{ aligner }}.bam{% endset %}
{%- set results_dir %}{{ sample.gltype }}/methylation/rastair/{{ sample.name }}_{{ aligner }}{% endset %}

- name: rastair_call_{{ sample.name }}_{{ aligner }}
  reset: predecessors
  input:
    - {{ bam }}
    - {{ constants.grandcanyon[reference].reference_fasta }}
  output:
    - {{ results_dir }}/{{ sample.name }}.{{ aligner }}.bed.gz
  cpus: 8
  mem: 32G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.rastair.container }}
  cmd: |
    set -eu
    set -o pipefail

    mkdir -p {{ results_dir }}

    rastair call \
      --bed {{ results_dir }}/{{ sample.name }}.{{ aligner }}.bed.gz \
      -r {{ constants.grandcanyon[reference].reference_fasta }} \
      --min-baseq 30 \
      --min-mapq 20 \
      {{ bam }}

{% endmacro %}
