{% macro lancet2(pair, aligner='bwa') %}

{%- set normal_bam %}temp/{{ pair.gltype }}/alignment/{{ aligner }}/{{ pair.normal.name }}/{{ pair.normal.name }}.{{ aligner }}.bam{% endset %}
{%- set tumor_bam %}temp/{{ pair.gltype }}/alignment/{{ aligner }}/{{ pair.tumor.name }}/{{ pair.tumor.name }}.{{ aligner }}.bam{% endset %}
{%- set temp_dir %}temp/{{ pair.gltype }}/somatic_variant_calls/lancet2/{{ pair.name }}_{{ aligner }}{% endset %}
{%- set results_dir %}{{ pair.gltype }}/somatic_variant_calls/lancet2/{{ pair.name }}_{{ aligner }}{% endset %}
{%- set all_vcf %}{{ results_dir }}/{{ pair.name }}.{{ aligner }}.lancet2.all.vcf.gz{% endset %}
{%- set pass_vcf %}{{ results_dir }}/{{ pair.name }}.{{ aligner }}.lancet2.pass.vcf.gz{% endset %}

{% for chunk in range(1, num_chunks+1) %}
- name: lancet2_{{ pair.name }}_{{ aligner }}_{{ chunk }}
  tags: [{{ pair.gltype }}, somatic, snp_indel_caller, lancet2, {{ pair.name }}]
  reset: predecessors
  input:
    - {{ normal_bam }}
    - {{ normal_bam }}.bai
    - {{ tumor_bam }}
    - {{ tumor_bam }}.bai
    - {{ constants.grandcanyon[reference].reference_fasta }}
    - temp/pipeline_resources/calling_intervals/primary_calling_interval_{{ chunk }}.bed
  output:
    - {{ temp_dir }}/{{ chunk }}.lancet2.vcf.gz
  cpus: 4
  mem: 16G
  walltime: "8:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.lancet2.container }}
  cmd: |
    set -eu

    mkdir -p {{ temp_dir }}

    Lancet2 pipeline \
      --num-threads 4 \
      --tumor {{ tumor_bam }} \
      --normal {{ normal_bam }} \
      --reference {{ constants.grandcanyon[reference].reference_fasta }} \
      --bed-file temp/pipeline_resources/calling_intervals/primary_calling_interval_{{ chunk }}.bed \
      --out-vcfgz {{ temp_dir }}/{{ chunk }}.lancet2.vcf.gz

{% endfor %}

- name: lancet2_merge_chunks_{{ pair.name }}_{{ aligner }}
  tags: [{{ pair.gltype }}, somatic, snp_indel_caller, lancet, {{ pair.name }}]
  reset: predecessors
  input:
    {% for chunk in range(1, num_chunks+1) %}
    - {{ temp_dir }}/{{ chunk }}.lancet2.vcf.gz
    {% endfor %}
  output:
    - {{ all_vcf }}
    - {{ all_vcf }}.tbi
  cpus: 1
  mem: 4G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.bcftools.container }}
  cmd: |
    set -eu
    set -o pipefail

    mkdir -p {{ results_dir }}

    bcftools concat \
      --allow-overlaps \
      --output-type z \
      --output {{ all_vcf }} \
      --write-index \
      {% for chunk in range(1, num_chunks+1) %}
      {% if not loop.last %}
      {{ temp_dir }}/{{ chunk }}.lancet2.vcf.gz \
      {% else %}
      {{ temp_dir }}/{{ chunk }}.lancet2.vcf.gz
      {% endif %}
      {% endfor %}


- name: lancet2_filter_variants_{{ pair.name }}_{{ aligner }}
  tags: [{{ pair.gltype }}, somatic, snp_indel_caller, lancet2, {{ pair.name }}]
  reset: predecessors
  input:
    - {{ all_vcf }}
    - {{ all_vcf }}.tbi
  output:
    - {{ pass_vcf }}
    - {{ pass_vcf }}.tbi
  cpus: 1
  mem: 2G
  walltime: "1:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.bcftools.container }}
  cmd: |
    set -eu
    set -o pipefail

    bcftools view \
      --include 'FILTER == "PASS"' \
      --output-type z \
      --output {{ pass_vcf }} \
      --write-index \
      {{ all_vcf }}

{% if not tasks[sample_or_pair.gltype|capitalize+"_variant_calling_merge_vcfs_vcfMerger2"]|default(false) %}
{% from 'modules/annotation/main.j2' import annotate_vcfs with context %}
{{- annotate_vcfs(sample_or_pair, temp_dir, results_dir, pass_vcf, aligner, 'lancet2') }}
{% endif %}

{% endmacro %}
