{% macro lancet2(sample_or_pair, aligner='bwa') %}

{% if sample_or_pair.normal is defined %}
  {%- set normal_bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.normal.name }}/{{ sample_or_pair.normal.name }}.{{ aligner }}.bam{% endset %}
  {%- set tumor_bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.tumor.name }}/{{ sample_or_pair.tumor.name }}.{{ aligner }}.bam{% endset %}
  {%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/somatic_variant_calls/lancet2/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
  {%- set results_dir %}{{ sample_or_pair.gltype }}/somatic_variant_calls/lancet2/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
  {%- set input_config = "paired" %}
  {% if sample_or_pair.gltype == 'exome' %}
  {%- set capture_kit_bed %}{{ sample_or_pair.tumor.capture_kit.extended_bed }}{% endset %}
  {% endif %}
{% else %}
  {%- set bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.name }}/{{ sample_or_pair.name }}.{{ aligner }}.bam{% endset %}
  {% if sample_or_pair.subGroup|lower in ('tumor','tumour','case') %}
    {%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/somatic_variant_calls/lancet2/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
    {%- set results_dir %}{{ sample_or_pair.gltype }}/somatic_variant_calls/lancet2/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
    {%- set input_config = "tumor_only" %}
  {% else %}
    {%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/constitutional_variant_calls/lancet2/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
    {%- set results_dir %}{{ sample_or_pair.gltype }}/constitutional_variant_calls/lancet2/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
    {%- set input_config = "germline" %}
  {% endif %}
  {% if sample_or_pair.gltype == 'exome' %}
  {%- set capture_kit_bed %}{{ sample_or_pair.capture_kit.extended_bed }}{% endset %}
  {% endif %}
{% endif %}

{%- set all_vcf %}{{ results_dir }}/{{ sample_or_pair.name }}.{{ aligner }}.lancet2.all.vcf.gz{% endset %}
{%- set pass_vcf %}{{ results_dir }}/{{ sample_or_pair.name }}.{{ aligner }}.lancet2.pass.vcf.gz{% endset %}

{% set reference_fasta %}{{ constants.grandcanyon[reference].reference_fasta }}{% endset %}
{% set reference_dict %}{{ constants.grandcanyon[reference].reference_dict }}{% endset %}

{% for chunk in range(1, num_chunks+1) %}
- name: lancet2_{{ sample_or_pair.name }}_{{ aligner }}_{{ chunk }}
  tags: [{{ sample_or_pair.gltype }}, somatic, snp_indel_caller, lancet2, {{ sample_or_pair.name }}]
  reset: predecessors
  input:
    {% if sample_or_pair.normal is defined %}
    - {{ normal_bam }}
    - {{ normal_bam }}.bai
    - {{ tumor_bam }}
    - {{ tumor_bam }}.bai
    {% else %}
    - {{ bam }}
    - {{ bam }}.bai
    {% endif %}
    - {{ reference_fasta }}
    - temp/pipeline_resources/calling_intervals/primary_calling_interval_{{ chunk }}.bed
  output:
    - {{ temp_dir }}/{{ chunk }}.lancet2.vcf.gz
  cpus: 8
  mem: 16G
  walltime: "8:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.lancet2.container }}
  cmd: |
    set -eu

    mkdir -p {{ temp_dir }}

    Lancet2 pipeline \
      --num-threads 8 \
      {% if input_config in ('paired') %}
      --tumor {{ tumor_bam }} \
      --normal {{ normal_bam }} \
      {% else %}
      --normal {{ bam }} \
      {% endif %}
      --reference {{ reference_fasta }} \
      --bed-file temp/pipeline_resources/calling_intervals/primary_calling_interval_{{ chunk }}.bed \
      --out-vcfgz {{ temp_dir }}/{{ chunk }}.lancet2.vcf.gz

{% endfor %}

- name: lancet2_merge_chunks_{{ sample_or_pair.name }}_{{ aligner }}
  tags: [{{ sample_or_pair.gltype }}, somatic, snp_indel_caller, lancet, {{ sample_or_pair.name }}]
  reset: predecessors
  input:
    {% for chunk in range(1, num_chunks+1) %}
    - {{ temp_dir }}/{{ chunk }}.lancet2.vcf.gz
    {% endfor %}
  output:
    - {{ all_vcf }}
    - {{ all_vcf }}.tbi
  cpus: 1
  mem: 4G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.bcftools.container }}
  cmd: |
    set -eu
    set -o pipefail

    mkdir -p {{ results_dir }}

    bcftools concat \
      --allow-overlaps \
      --output-type z \
      --output {{ all_vcf }} \
      --write-index \
      {% for chunk in range(1, num_chunks+1) %}
      {% if not loop.last %}
      {{ temp_dir }}/{{ chunk }}.lancet2.vcf.gz \
      {% else %}
      {{ temp_dir }}/{{ chunk }}.lancet2.vcf.gz
      {% endif %}
      {% endfor %}


- name: lancet2_filter_variants_{{ sample_or_pair.name }}_{{ aligner }}
  tags: [{{ sample_or_pair.gltype }}, somatic, snp_indel_caller, lancet2, {{ sample_or_pair.name }}]
  reset: predecessors
  input:
    - {{ all_vcf }}
    - {{ all_vcf }}.tbi
    {% if sample_or_pair.gltype == 'exome' %}
    - {{ capture_kit_bed }}
    {% endif %}
  output:
    - {{ pass_vcf }}
    - {{ pass_vcf }}.tbi
  cpus: 1
  mem: 2G
  walltime: "1:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.bcftools.container }}
  cmd: |
    set -eu
    set -o pipefail

    bcftools view \
      {% if input_config in ('paired') %}
      --include 'FILTER == "PASS" && CASE==1' \
      {% else %}
      --include 'FILTER == "PASS"' \
      {% endif %}
      --output-type z \
      {% if sample_or_pair.gltype == 'exome' %}
      --targets-file {{ capture_kit_bed }} \
      {% endif %}
      --output {{ pass_vcf }} \
      --write-index \
      {{ all_vcf }}

{% if not tasks[pair.gltype|capitalize+"_variant_calling_merge_vcfs_vcfMerger2"]|default(false) %}
{% from 'modules/annotation/main.j2' import annotate_vcfs with context %}
{{- annotate_vcfs(pair, temp_dir, results_dir, pass_vcf, aligner, 'lancet2') }}
{% endif %}

{% endmacro %}
