{% from 'modules/variant_calling/whatshap.j2' import whatshap_haplotag with context %}

{% macro savana(sample_or_pair, aligner) %}

{% if sample_or_pair.normal is defined %}
  {% if sample_or_pair.normal.phased_vcf is defined %}
    {{- whatshap_haplotag(sample_or_pair.tumor, aligner, 'deepvariant', sample_or_pair.normal.phased_vcf) }}
    {%- set normal_bam %}{{ sample_or_pair.normal.phased_bam }}{% endset %}
    {%- set bam %}{{ sample_or_pair.tumor.phased_bam }}{% endset %}
  {% else %}
    {%- set normal_bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.normal.name }}/{{ sample_or_pair.normal.name }}.{{ aligner }}.bam{% endset %}
    {%- set bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.tumor.name }}/{{ sample_or_pair.tumor.name }}.{{ aligner }}.bam{% endset %}
  {% endif %}
  {%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/somatic_structural_calls/savana/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
  {%- set results_dir %}{{ sample_or_pair.gltype }}/somatic_structural_calls/savana/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
  {%- set input_config = "paired" %}
{% else %}
  {%- set bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.name }}/{{ sample_or_pair.name }}.{{ aligner }}.bam{% endset %}
  {%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/somatic_structural_calls/savana/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
  {%- set results_dir %}{{ sample_or_pair.gltype }}/somatic_structural_calls/savana/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
  {%- set input_config = "tumor_only" %}
{% endif %}
{%- set all_vcf %}{{ results_dir }}/{{ sample_or_pair.name }}.{{ aligner }}.savana.all.vcf.gz{% endset %}
{%- set pass_vcf %}{{ results_dir }}/{{ sample_or_pair.name }}.{{ aligner }}.savana.pass.vcf.gz{% endset %}

- name: savana_{{ sample_or_pair.name }}_{{ aligner }}
  input:
    {% if normal_bam is defined %}
    - {{ normal_bam }}
    - {{ normal_bam }}.bai
    {% endif %}
    - {{ bam }}
    - {{ bam }}.bai
    - {{ constants.grandcanyon[reference].reference_fasta }}
    - {{ constants.grandcanyon[reference].reference_dict }}
  output:
    - {{ temp_vcf }}
  cpus: 8
  mem: 32G
  walltime: "12:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.savana.container }}
  cmd: |
    set -eu
    set -o pipefail

    grep 'SN:\(chr\)\?[0-9XY]\+\([a-z]\)\?\s' {{ constants.grandcanyon[reference].reference_dict }} |\
      sed 's/SN://;s/LN://' |\
      awk '{ OFS="\t" ; print $2,0,$3-1 }' \
      > {{ temp_dir }}/calling_intervals.bed

    savana \
      --tumour {{ bam }} \
      {% if input_config in ('paired') %}
      --normal {{ normal_bam }} \
      {% endif %}
      --outdir {{ temp_dir }} \
      {% if sample_or_pair.rgpl in ('ONT') %}
      --ont \
      {% results_dir sample_or_pair.rgpl in ('PACBIO') %}
      --pb \
      {% endif %}
      --threads 8 \
      --ref {{ constants.grandcanyon[reference].reference_fasta }}

{% endmacro %}
