{% from 'modules/variant_calling/whatshap.j2' import whatshap_haplotag with context %}

{% macro severus(sample_or_pair, aligner) %}

{% if sample_or_pair.normal is defined %}
  {% if tasks[sample_or_pair.gltype|capitalize+"_variant_calling_snp_indel_caller_deepvariant"]|default(false)  %}
    {%- set phased_vcf %}{{ sample_or_pair.gltype }}/constitutional_variant_calls/deepvariant/{{ sample_or_pair.normal.name }}_{{ aligner }}/{{ sample_or_pair.normal.name }}.{{ aligner }}.deepvariant.whatshap.phased.vcf.gz{% endset %}
    {%- set phased_normal_bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.normal.name }}/{{ sample_or_pair.normal.name }}.{{ aligner }}.bam{% endset %}
    {%- set phased_tumor_bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.tumor.name }}/{{ sample_or_pair.tumor.name }}.{{ aligner }}.bam{% endset %}
    {%- set normal_bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.normal.name }}/{{ sample_or_pair.normal.name }}.{{ aligner }}.bam{% endset %}
    {%- set tumor_bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.tumor.name }}/{{ sample_or_pair.tumor.name }}.{{ aligner }}.bam{% endset %}
    {%- set haplotag_output_dir %}temp/{{ sample_or_pair.tumor.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.tumor.name }}{% endset %}
    {%- set haplotag_output_prefix %}{{ sample_or_pair.tumor.name }}.{{ aligner }}.deepvariant.whatshap{% endset %}
    {{- whatshap_haplotag(sample_or_pair.tumor, phased_vcf, tumor_bam, haplotag_output_dir, haplotag_output_prefix, 'deepvariant', aligner) }}
  {% else %}
  {%- set normal_bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.normal.name }}/{{ sample_or_pair.normal.name }}.{{ aligner }}.bam{% endset %}
  {%- set tumor_bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.tumor.name }}/{{ sample_or_pair.tumor.name }}.{{ aligner }}.bam{% endset %}
  {% endif %}
  {%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/somatic_variant_calls/severus/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
  {%- set temp_vcf %}{{ temp_dir }}/somatic_SVs/severus_somatic.vcf{% endset %}
  {%- set results_dir %}{{ sample_or_pair.gltype }}/somatic_variant_calls/severus/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
{% else %}
  {%- set bam %}temp/{{ sample_or_pair.gltype }}/alignment/{{ aligner }}/{{ sample_or_pair.name }}/{{ sample_or_pair.name }}.{{ aligner }}.bam{% endset %}
  {%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/constitutional_variant_calls/severus/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
  {%- set temp_vcf %}{{ temp_dir }}/all_SVs/severus_all.vcf{% endset %}
  {%- set results_dir %}{{ sample_or_pair.gltype }}/constitutional_variant_calls/severus/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
{% endif %}
{%- set all_vcf %}{{ results_dir }}/{{ sample_or_pair.name }}.{{ aligner }}.severus.all.vcf.gz{% endset %}
{%- set pass_vcf %}{{ results_dir }}/{{ sample_or_pair.name }}.{{ aligner }}.severus.pass.vcf.gz{% endset %}

- name: severus_{{ sample_or_pair.name }}_{{ aligner }}
  reset: predecessors
  input:
    {% if sample_or_pair.normal is defined %}
    {% if phased_vcf %}
    - {{ phased_vcf }}
    - {{ phased_tumor_bam }}
    - {{ phased_tumor_bam }}.bai
    - {{ phased_normal_bam }}
    - {{ phased_normal_bam }}.bai
    {% else %}
    - {{ tumor_bam }}
    - {{ tumor_bam }}.bai
    - {{ normal_bam }}
    - {{ normal_bam }}.bai
    {% endif %}
    {% else %}
    - {{ bam }}
    - {{ bam }}.bai
    {% endif %}
    - {{ constants.grandcanyon[reference].reference_fasta }}
    - {{ constants.grandcanyon[reference].reference_dict }}
    - {{ constants.grandcanyon[reference].tool_resources.severus.vntrs }}
    - {{ constants.grandcanyon[reference].tool_resources.severus.pon }}
  output:
    - {{ temp_vcf }}
    - {{ results_dir }}/{{ sample_or_pair.name }}_breakpoints_double.csv
    - {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters.csv
    - {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters_list.tsv
    - {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_graph.gv
  cpus: 16
  mem: 64G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.severus.container }}
  cmd: |
    set -eu
    set -o pipefail

    rm -r {{ temp_dir }} || true
    mkdir -p {{ temp_dir }}
    mkdir -p {{ results_dir }}

    {% if sample_or_pair.normal is defined %}
    severus \
      --threads 16 \
      --out-dir {{ temp_dir }} \
      {% if phased_vcf %}
      --phasing-vcf {{ phased_vcf }} \
      --target-bam {{ phased_tumor_bam }} \
      --control-bam {{ phased_normal_bam }} \
      {% else %}
      --target-bam {{ tumor_bam }} \
      --control-bam {{ normal_bam }} \
      {% endif %}
      --vntr-bed {{ constants.grandcanyon[reference].tool_resources.severus.vntrs }} \
      --PON {{ constants.grandcanyon[reference].tool_resources.severus.pon }}

    mv {{ temp_dir }}/breakpoints_double.csv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoints_double.csv
    mv {{ temp_dir }}/somatic_SVs/breakpoint_clusters.tsv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters.tsv
    mv {{ temp_dir }}/somatic_SVs/breakpoint_clusters_list.tsv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters_list.tsv
    {% else %}
    severus \
      --threads 16 \
      --target-bam {{ bam }} \
      --out-dir {{ temp_dir }}
      --vntr-bed {{ constants.grandcanyon[reference].tool_resources.severus.vntrs }} \
      --PON {{ constants.grandcanyon[reference].tool_resources.severus.pon }}

    mv {{ temp_dir }}/breakpoints_double.csv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoints_double.csv
    mv {{ temp_dir }}/all_SVs/breakpoint_clusters.tsv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters.tsv
    mv {{ temp_dir }}/all_SVs/breakpoint_clusters_list.tsv {{ results_dir }}/{{ sample_or_pair.name }}_breakpoint_clusters_list.tsv
    {% endif %}


- name: severus_filter_variants_{{ sample_or_pair.name }}_{{ aligner }}
  input:
    - {{ temp_vcf }}
  output:
    - {{ all_vcf }}
    - {{ all_vcf }}.tbi
    - {{ pass_vcf }}
    - {{ pass_vcf }}.tbi
  cpus: 1
  mem: 4G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.bcftools.container }}
  cmd: |
    set -eu

    mkdir -p {{ results_dir }}

    bcftools view \
      --output-type z \
      --output {{ all_vcf }} \
      --write-index \
      {{ temp_vcf }}

    bcftools view \
      --include 'FILTER == "PASS"' \
      --output-type z \
      --output {{ pass_vcf }} \
      --write-index \
      {{ all_vcf }}

{% from 'modules/annotation/main.j2' import annotate_vcfs with context %}
{{- annotate_vcfs(sample_or_pair, temp_dir, results_dir, pass_vcf, 'minimap2', 'severus') }}

{% endmacro %}
