{% macro truvari(sample_or_pair, aligner='bwa') %}

{% if sample_or_pair.sv_callers | length <= 1 %}
  {% set log_msg %}Truvari collapsed output has been disabled for {{ sample_or_pair.name }} as not enough structural variant callers were enabled. We require at least 2 callers! Found: {{ sample_or_pair.sv_callers }}{% endset %}
  {{ log(log_msg, level='WARNING') }}
{% else %}
{% if sample_or_pair.normal is defined %}
  {%- set tool_dir_prefix %}{{ sample_or_pair.gltype }}/somatic_structural_calls{% endset %}
  {%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/somatic_structural_calls/truvari/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
  {%- set results_dir %}{{ sample_or_pair.gltype }}/somatic_structural_calls/truvari/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
  {%- set input_config = "paired" %}
{% else %}
  {% if sample_or_pair.subGroup|lower in ('tumor','tumour','case') %}
    {%- set tool_dir_prefix %}{{ sample_or_pair.gltype }}/somatic_structural_calls{% endset %}
    {%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/somatic_structural_calls/truvari/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
    {%- set results_dir %}{{ sample_or_pair.gltype }}/somatic_structural_calls/truvari/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
    {%- set input_config = "tumor_only" %}
  {% else %}
    {%- set tool_dir_prefix %}{{ sample_or_pair.gltype }}/constitutional_structural_calls{% endset %}
    {%- set temp_dir %}temp/{{ sample_or_pair.gltype }}/constitutional_structural_calls/truvari/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
    {%- set results_dir %}{{ sample_or_pair.gltype }}/constitutional_structural_calls/truvari/{{ sample_or_pair.name }}_{{ aligner }}{% endset %}
    {%- set input_config = "germline" %}
  {% endif %}
{% endif %}
{% set bcftools_merged_vcf %}{{ temp_dir }}/{{ sample_or_pair.name }}.{{ aligner }}.merged.vcf.gz{% endset %}
{% set merged_vcf %}{{ results_dir }}/{{ sample_or_pair.name }}.{{ aligner }}.merged.vcf{% endset %}
{% set collapse_vcf %}{{ results_dir }}/{{ sample_or_pair.name }}.{{ aligner }}.collapse.vcf{% endset %}

{% set vcfs_to_merge=[] %}

{% for caller in sample_or_pair.sv_callers %}
{% set gzipped_path %}{{ tool_dir_prefix }}/{{ caller }}/{{ sample_or_pair.name }}_{{ aligner }}/{{ sample_or_pair.name }}.{{ aligner }}.{{ caller }}.pass.vcf.gz{% endset %}
{% do vcfs_to_merge.append({ 'gzipped_path': gzipped_path }) %}
{% endfor %}

- name: truvari_bcftools_merge_{{ sample_or_pair.name }}_{{ aligner }}
  tags: [{{ sample_or_pair.gltype }}, somatic, merge_vcfs, truvari, {{ sample_or_pair.name }}]
  input: {{ gzipped_path }}
  output: {{ bcftools_merged_vcf }}
  cpus: 4
  mem: 8G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.bcftools.container }}
  cmd: |
    set -eu

    mkdir -p "{{ temp_dir }}"

    bcftools merge -m none "{{ vcfs_to_merge|map(attribute='gzipped_path')|join(' ') }}" \
    | bgzip > {{ bcftools_merged_vcf }}

- name: truvari_collapse_{{ sample_or_pair.name }}_{{ aligner }}
  tags: [{{ sample_or_pair.gltype }}, somatic, merge_vcfs, truvari, {{ sample_or_pair.name }}]
  reset: predecessors
  input: {{ bcftools_merged_vcf }}
  output: {{ merged_vcf_gz }}
  cpus: 4
  mem: 16G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.truvari.container }}
  cmd: |
    set -eu
    set -o pipefail

    mkdir -p "{{ results_dir }}"

    truvari collapse \
      --intra \
      -i {{ bcftools_merged_vcf }} \
      -o {{ merged_vcf }} \
      -c {{ collapse_vcf }}

{% endif %}

{% endmacro %}
