{% macro ctat_lr(sample) %}

{%- set temp_dir %}temp/{{ sample.gltype }}/fusions/starfusion/{{ sample.name }}{% endset %}
{%- set results_dir %}{{ sample.gltype }}/fusions/starfusion/{{ sample.name }}{% endset %}

{# Here we build up lists of all the fastq files for this sample #}
{% set longfqlist = [] %}
{% set shortfqlist = [] %}

{# TODO: Need to sort out a technique to select the best set of short read data, or decide whether or not all of it should likely be used. #}
{% for rgid, data_files in dataFiles|selectattr('rgsm', 'eq', sample.rgsm)|selectattr('glType', 'eq', 'RNA')|selectattr('rgpl', 'eq', 'ILLUMINA')|selectattr('rgpm', 'eq', 'NOVASEQXPLUS')|groupby('rgid') %}
  {% set rg = data_files %}
  {% set r1fastq = rg|selectattr('fastqCode', 'eq', 'R1')|first %}
  {% set r2fastq = rg|selectattr('fastqCode', 'eq', 'R2')|first %}
  {% if r1fastq is defined and r2fastq is defined %}
    {% set sr_pair = {"r1path": "temp/fastqs/" + r1fastq.basename, "r2path": "temp/fastqs/" + r2fastq.basename} %}
    {% do shortfqlist.append(sr_pair) %}
  {% endif %}
{% endfor %}

{% for rgid, rg in sample.read_groups.items() %}
  {% set longfastq = rg.data_files|selectattr('fastqCode', 'eq', 'hifi')|first %}
  {% if longfastq is defined %}
    {% set longfastq_path %}temp/fastqs/{{ longfastq.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do longfastq.update({"path": longfastq_path}) %}
    {% do longfqlist.append(longfastq) %}
  {% endif %}
{% endfor %}

{% if longfqlist | length > 0 %}

- name: ctat_lr_{{ sample.name }}
  input:
    - {{ constants.grandcanyon[reference].starfusion_index }}
  {% for fq in longfqlist %}
    - {{ fq.path }}
  {% endfor %}
    {% for pair in shortfqlist %}
    - {{ pair.r1path }}
    - {{ pair.r2path }}
    {% endfor %}
  output:
    - {{ results_dir }}/{{ sample.name }}.fusion_inspector_web.html
    - {{ results_dir }}/{{ sample.name }}.fusion_predictions.abridged.tsv
    - {{ results_dir }}/{{ sample.name }}.fusion_predictions.preliminary.abridged.tsv
    - {{ results_dir }}/{{ sample.name }}.fusion_predictions.preliminary.tsv
    - {{ results_dir }}/{{ sample.name }}.fusion_predictions.tsv
  cpus: 10
  mem: 60G
  walltime: "24:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.ctat_lr.container }}
  cmd: |
    set -eu

    rm -rf {{ temp_dir }}
    mkdir -p {{ temp_dir }}
    mkdir -p {{ results_dir }}

    {% if longfqlist | length > 1 %}
    cat {{ longfqlist|map(attribute='path')|join(' ') }} > {{ temp_dir }}/concatenated_LR.fastq.gz
    {% endif %}

    {% if shortfqlist | length > 1 %}
    cat {{ shortfqlist|map(attribute='r1path')|join(' ') }} > {{ temp_dir }}/concatenated_SR_r1.fastq.gz
    cat {{ shortfqlist|map(attribute='r2path')|join(' ') }} > {{ temp_dir }}/concatenated_SR_r2.fastq.gz
    {% endif %}

    ctat-LR-fusion \
      --CPU 10 \
      --genome_lib_dir {{ constants.grandcanyon[reference].starfusion_index }} \
      {% if longfqlist | length > 1 %}
      -T "{{ temp_dir }}/concatenated_LR.fastq.gz" \
      {% else %}
      -T "{{ longfqlist|map(attribute='path')|join(' ') }}" \
      {% endif %}
      {% if shortfqlist | length > 0 %}
        {% if shortfqlist | length > 1 %}
        --left_fq "{{ temp_dir }}/concatenated_SR_r1.fastq.gz" \
        --right_fq "{{ temp_dir }}/concatenated_SR_r2.fastq.gz" \
        {% else %}
        --left_fq "{{ shortfqlist|map(attribute="r1path")|join(' ') }}" \
        --right_fq "{{ shortfqlist|map(attribute="r2path")|join(' ') }}" \
        {% endif %}
      {% endif %}
      --output {{ temp_dir }} \
      --vis

    mv {{ temp_dir }}/ctat-LR-fusion.fusion_inspector_web.html {{ results_dir }}/{{ sample.name }}.fusion_inspector_web.html
    mv {{ temp_dir }}/ctat-LR-fusion.fusion_predictions.abridged.tsv {{ results_dir }}/{{ sample.name }}.fusion_predictions.abridged.tsv
    mv {{ temp_dir }}/ctat-LR-fusion.fusion_predictions.preliminary.abridged.tsv {{ results_dir }}/{{ sample.name }}.fusion_predictions.preliminary.abridged.tsv
    mv {{ temp_dir }}/ctat-LR-fusion.fusion_predictions.preliminary.tsv {{ results_dir }}/{{ sample.name }}.fusion_predictions.preliminary.tsv
    mv {{ temp_dir }}/ctat-LR-fusion.fusion_predictions.tsv {{ results_dir }}/{{ sample.name }}.fusion_predictions.tsv

    rm {{ temp_dir }}/{{ sample.name }}*.fasta {{ temp_dir }}/{{ sample.name }}*.fastq

{% else %}
  {% set log_msg %}ctat_lr_fusion was enabled, but no compatible long read data was found for {{ sample.name }}{% endset %}
  {{ log(log_msg, level='WARNING') }}
{% endif %}

{% endmacro %}