{% macro ctat_lr(sample) %}

{%- set temp_dir %}temp/{{ sample.gltype }}/fusions/starfusion/{{ sample.name }}{% endset %}
{%- set results_dir %}{{ sample.gltype }}/fusions/starfusion/{{ sample.name }}{% endset %}

{# Here we build up lists of all the fastq files for this sample #}
{% set longfqlist = [] %}
{% set r1fqlist = [] %}
{% set r2fqlist = [] %}

{% for rgid, rg in sample.read_groups.items() %}
  {% set longfastq = rg.data_files|selectattr('fastqCode', 'eq', 'hifi')|first %}
  {% if longfastq is defined %}
    {% set longfastq_path %}temp/fastqs/{{ longfastq.basename.split('.fastq.gz')[0] | replace(".", "_") }}.fastq.gz{% endset %}
    {% do longfastq.update({"path": longfastq_path}) %}
    {% do longfqlist.append(longfastq) %}
  {% endif %}
{% endfor %}

{% for rgid, data_files in dataFiles|selectattr('rgsm', 'eq', sample.rgsm)|selectattr('glType', 'eq', 'RNA')|selectattr('rgpl', 'eq', 'ILLUMINA')|selectattr('rgpm', 'eq', 'NOVASEQXPLUS')|groupby('rgid') %}
  {% set rg = data_files %}
  {% set r1fastq = rg|selectattr('fastqCode', 'eq', 'R1')|first %}
  {% set r2fastq = rg|selectattr('fastqCode', 'eq', 'R2')|first %}
  {% if r1fastq is defined %}
    {% do r1fastq.update({"path": "temp/fastqs/" + r1fastq.basename}) %}
    {% do r1fqlist.append(r1fastq) %}
  {% endif %}

  {% if r2fastq is defined %}
    {% do r2fastq.update({"path": "temp/fastqs/" + r2fastq.basename}) %}
    {% do r2fqlist.append(r2fastq) %}
  {% endif %}
{% endfor %}

{% if longfqlist | length > 0 %}

- name: ctat_lr_{{ sample.name }}
  input:
    - {{ constants.grandcanyon[reference].starfusion_index }}
  {% for fq in longfqlist %}
    - {{ fq.path }}
  {% endfor %}
  {% for fq in r1fqlist %}
    - {{ fq.path }}
  {% endfor %}
  {% for fq in r2fqlist %}
    - {{ fq.path }}
  {% endfor %}
  output:
    - {{ results_dir }}/{{ sample.name }}.fusion_inspector_web.html
    - {{ results_dir }}/{{ sample.name }}.fusion_predictions.abridged.tsv
    - {{ results_dir }}/{{ sample.name }}.fusion_predictions.preliminary.abridged.tsv
    - {{ results_dir }}/{{ sample.name }}.fusion_predictions.preliminary.tsv
    - {{ results_dir }}/{{ sample.name }}.fusion_predictions.tsv
  cpus: 10
  mem: 60G
  walltime: "8:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.ctat_lr.container }}
  cmd: |
    set -eu

    rm -rf {{ temp_dir }}
    mkdir -p {{ temp_dir }}
    mkdir -p {{ results_dir }}

    ctat-LR-fusion \
      --CPU 10 \
      --genome_lib_dir {{ constants.grandcanyon[reference].starfusion_index }} \
      -T "{{ longfqlist|map(attribute='path')|join(',') }}" \
      {% if r1fqlist | length > 0 %}
      --left_fq "{{ r1fqlist|map(attribute='path')|list|first }}" \
      --right_fq "{{ r2fqlist|map(attribute='path')|list|first }}" \
      {% endif %}
      --output {{ temp_dir }} \
      --vis

    mv {{ temp_dir }}/ctat-LR-fusion.fusion_inspector_web.html {{ results_dir }}/{{ sample.name }}.fusion_inspector_web.html
    mv {{ temp_dir }}/ctat-LR-fusion.fusion_predictions.abridged.tsv {{ results_dir }}/{{ sample.name }}.fusion_predictions.abridged.tsv
    mv {{ temp_dir }}/ctat-LR-fusion.fusion_predictions.preliminary.abridged.tsv {{ results_dir }}/{{ sample.name }}.fusion_predictions.preliminary.abridged.tsv
    mv {{ temp_dir }}/ctat-LR-fusion.fusion_predictions.preliminary.tsv {{ results_dir }}/{{ sample.name }}.fusion_predictions.preliminary.tsv
    mv {{ temp_dir }}/ctat-LR-fusion.fusion_predictions.tsv {{ results_dir }}/{{ sample.name }}.fusion_predictions.tsv

    rm {{ temp_dir }}/{{ sample.name }}*.fasta {{ temp_dir }}/{{ sample.name }}*.fastq

{% else %}
  {% set log_msg %}ctat_lr_fusion was enabled, but no compatible long read data was found for {{ sample.name }}{% endset %}
  {{ log(log_msg, level='WARNING') }}
{% endif %}

{% endmacro %}
