{% macro isoquant(sample, sample_bam, reference_fasta, gtf, SIRV=false) %}

{% if SIRV %}
  {% set temp_dir %}temp/{{ sample.gltype }}/quant/isoquant_SIRV{% endset %}
  {% set results_dir %}{{ sample.gltype }}/quant/isoquant_SIRV/{{ sample.name }}{% endset %}
{% else %}
  {% set temp_dir %}temp/{{ sample.gltype }}/quant/isoquant{% endset %}
  {% set results_dir %}{{ sample.gltype }}/quant/isoquant/{{ sample.name }}{% endset %}
{% endif %}

{% if SIRV %}
- name: isoquant_SIRV_{{ sample.name }}
{% else %}
- name: isoquant_{{ sample.name }}
{% endif %}
  input:
    - {{ sample_bam }}
    - {{ gtf }}
    - {{ reference_fasta }}
  output: {{ results_dir }}
  cpus: 20
  mem: 48G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.isoquant.container }}
  cmd: |

    {# note: this step performs isoquant for read correction, annotation, and quantification #}
    {# input: human aligned genome bam #}
    {# output: gene and transcript quantification, gtf #}

    rm -r {{ temp_dir }} || true
    mkdir -p {{ temp_dir }}
    mkdir -p {{ results_dir }}
    export TMPDIR={{ temp_dir }}

    paftools.js gff2bed {{ gtf }} > {{ temp_dir }}/{{ sample.name }}_anno.bed

    isoquant.py \
      --reference {{ reference_fasta }} \
      -o {{ temp_dir }}/ \
      -g {{ gtf }} \
      {% if sample.glprep in 'kinnex' %}
      -d pacbio \
      {% else %}
      -d nanopore \
      {% endif %}
      --complete_genedb \
      --bam {{ sample_bam }} \
      --labels {{ sample.name }} \
      -p {{ sample.name }} \
      --junc_bed_file {{ temp_dir }}/{{ sample.name }}_anno.bed \
      --sqanti_output \
      --check_canonical \
      -t 20

{% endmacro %}

