{% from 'modules/rna/minimap2.j2' import minimap2_rna with context %}
{% from 'modules/rna/ctat_lr.j2' import ctat_lr with context %}
{% from 'modules/qc/main.j2' import bam_qc with context %}

{% macro rna_alignment(samples) %}

  {% for sample in samples.values() if sample.gltype in ['rna'] %}
    {{- minimap2_rna(sample) }}
    {{- bam_qc(sample, aligner='minimap2') }}
    {{- ctat_lr(sample) }}
  {% endfor %}

{% endmacro %}

