{% from 'modules/rna/minimap2.j2' import minimap2_rna with context %}
{% from 'modules/rna/salmon_sr.j2' import salmon_sr with context %}
{% from 'modules/rna/ctat_lr.j2' import ctat_lr with context %}
{% from 'modules/rna/isoseq.j2' import isoseq with context %}
{% from 'modules/qc/main.j2' import bam_qc with context %}
{% from 'modules/rna/compare_expression.j2' import compare_expression with context %}

{% macro rna_alignment(samples) %}

  {% for sample in samples.values() if sample.gltype in ['rna'] %}
    {% if sample.glprep in ['kinnex', 'longread'] %}
      {{- minimap2_rna(sample) }}
      {{- bam_qc(sample, aligner='minimap2') }}
    {% else %}
      {{- salmon_sr(sample) }}
    {% endif %}
    {% if sample.glprep in 'kinnex' %}
      {{- isoseq(sample) }}
    {% endif %}
    {{- ctat_lr(sample) }}
  {% endfor %}

  {{- compare_expression(samples) }}

{% endmacro %}

