{% from 'modules/rna/pygmy.j2' import pygmy with context %}

{% macro rna_alignment(samples) %}

  {% for sample in samples.values() if sample.gltype in ['rna'] %}
    {{- pygmy(sample) }}
  {% endfor %}

{% endmacro %}

