{% from 'modules/rna/pygmy_featurecounts.j2' import pygmy_featurecounts with context %}

{% macro pygmy(sample) %}

{% set temp_dir %}temp/{{ sample.gltype }}/pygmy_alignment/{{ sample.name }}{% endset %}
{% set results_dir %}{{ sample.gltype }}/pygmy_alignment/{{ sample.name }}{% endset %}

{% for rgid, rg in sample.read_groups.items() %}
{% for ubam in rg.ubam_files %}

- name: bamtofastq_{{ sample.name }}
  input: temp/ubams/{{ ubam.basename }}
  output: {{ temp_dir }}/fq/{{ sample.name }}/{{ sample.name }}.fq
  cpus: 2
  mem: 32G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.samtools.container }}
  cmd: |

    {# note: this step converts uBAM from dorado to fastq #}
    {# input: uBAM from dorado #}
    {# output: raw fastq #}
    {# uses -T dx option to add simplex/duplex dx flag from BAM to the fastq header #}

    mkdir -p {{ temp_dir }}/fq/{{ sample.name }}

    samtools fastq -T dx temp/ubams/{{ ubam.basename }} > {{ temp_dir }}/fq/{{ sample.name }}/{{ sample.name }}.fq


- name: pychopper_{{ sample.name }}
  input: {{ temp_dir }}/fq/{{ sample.name }}/{{ sample.name }}.fq
  output: {{ temp_dir }}/pychopper/{{ sample.name }}/pychopper_all.fq
  cpus: 10
  mem: 32G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.pychopper.container }}
  cmd: |

    {# note: this step runs pychopper, which trims, orients, and rescues reads #}
    {# input: raw fastq #}
    {# output: pychopper chopped and rescued fastq #}

    mkdir -p {{ temp_dir }}/pychopper/{{ sample.name }}

    cdna_classifier.py \
      -m edlib \
      -t 10 \
      -r {{ temp_dir }}/pychopper/{{ sample.name }}/report.pdf \
      -A {{ temp_dir }}/pychopper/{{ sample.name }}/aln_hits.bed \
      -S {{ temp_dir }}/pychopper/{{ sample.name }}/statistics.tsv \
      -u {{ temp_dir }}/pychopper/{{ sample.name }}/unclassified.fq \
      -w {{ temp_dir }}/pychopper/{{ sample.name }}/rescued.fq \
      {{ temp_dir }}/fq/{{ sample.name }}/{{ sample.name }}.fq {{ temp_dir }}/pychopper/{{ sample.name }}/full_length_output.fq

    cat {{ temp_dir }}/pychopper/{{ sample.name }}/full_length_output.fq {{ temp_dir }}/pychopper/{{ sample.name }}/rescued.fq \
      > {{ temp_dir }}/pychopper/{{ sample.name }}/pychopper_all.fq


- name: minimap2_SIRV_{{ sample.name }}
  input:
    - {{ constants.grandcanyon.reference_fastaSIRV }}
    - {{ temp_dir }}/pychopper/{{ sample.name }}/pychopper_all.fq
  output:
    - {{ temp_dir }}/minimap2/{{ sample.name }}_SIRVome_unmapped.bam
    - {{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_mapped.bam
    - {{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_mapped_withSupp_readLength.txt
    - {{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_mapped_noSupp_readLength.txt
    - {{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_unmapped_readLength.txt
  cpus: 10
  mem: 32G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.minimap2.container }}
  cmd: |

    {# note: this step aligns reads to the SIRV spike-in reference. If skipped and sample has spike-ins, some SIRVs will align to the human genome. #}
    {# input: pychopper chopped and rescued fastq #}
    {# output: SIRVome mapped SAM #}

    mkdir -p {{ temp_dir }}/minimap2

    minimap2 \
      -ax splice \
      --splice-flank=no \
      --secondary=no \
      -t 10 \
      -L \
      {{ constants.grandcanyon.reference_fastaSIRV }} \
      {{ temp_dir }}/pychopper/{{ sample.name }}/pychopper_all.fq |\
    samtools view -bhu -f 4 \
      -o - \
      -U {{ temp_dir }}/minimap2/{{ sample.name }}_SIRVome_unmapped.bam |\
    samtools sort -@ 4 -m 6G --write-index -O bam -o {{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_mapped.bam

    {# read lengths: mapped reads only #}
    samtools view -F 4 {{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_mapped.bam | awk '{print $1,"\t",length($10),"\t","SIRV4"}' > {{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_mapped_withSupp_readLength.txt &
    {#  read lengths: mapped reads only, no supplementary or secondary reads #}
    samtools view -F 4 -F 256 -F 2048 {{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_mapped.bam | awk '{print $1,"\t",length($10),"\t","SIRV4"}' > {{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_mapped_noSupp_readLength.txt &
    {#  read lengths: unmapped reads #}
    samtools view -f 4 {{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_mapped.bam | awk '{print $1,"\t",length($10),"\t","Unmapped"}' > {{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_unmapped_readLength.txt


- name: minimap2_{{ sample.name }}
  input:
    - {{ constants.grandcanyon.reference_fasta }}
    - {{ temp_dir }}/minimap2/{{ sample.name }}_SIRVome_unmapped.bam
  output:
    - {{ results_dir }}/minimap2/{{ sample.name }}.Aligned.out.sorted.bam
    - {{ results_dir }}/minimap2/{{ sample.name }}_mapped_withSupp_readLength.txt
    - {{ results_dir }}/minimap2/{{ sample.name }}_mapped_noSupp_readLength.txt
    - {{ results_dir }}/minimap2/{{ sample.name }}_unmapped_readLength.txt
  cpus: 10
  mem: 32G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.minimap2.container }}
  cmd: |

    {# note: this step converts unmapped SIRV bam to fq #}
    {# input: bam with reads unmapped to SIRVs #}
    {# output: fq with reads unmapped to SIRVs #}

    samtools fastq -@ 4 {{ temp_dir }}/minimap2/{{ sample.name }}_SIRVome_unmapped.bam |\
    minimap2 \
      -ax map-ont \
      --secondary=no \
      -t 10 \
      -L {{ constants.grandcanyon.reference_fasta }} \
      {{ temp_dir }}/minimap2/{{ sample.name }}_SIRVome_unmapped.fq |\
    samtools sort -@ 4 -m 6G --write-index -O bam -o {{ results_dir }}/minimap2/{{ sample.name }}.Aligned.out.sorted.bam

    {#  read lengths: mapped reads only #}
    samtools view -F 4 {{ results_dir }}/minimap2/{{ sample.name }}.Aligned.out.sorted.bam | awk '{print $1,"\t",length($10),"\t","Human"}' > {{ results_dir }}/minimap2/{{ sample.name }}_mapped_withSupp_readLength.txt &
    {#  read lengths: mapped reads only, no supplementary or secondary reads #}
    samtools view -F 4 -F 256 -F 2048 {{ results_dir }}/minimap2/{{ sample.name }}.Aligned.out.sorted.bam | awk '{print $1,"\t",length($10),"\t","Human"}' > {{ results_dir }}/minimap2/{{ sample.name }}_mapped_noSupp_readLength.txt &
    {#  read lengths: unmapped reads #}
    samtools view -f 4 {{ results_dir }}/minimap2/{{ sample.name }}.Aligned.out.sorted.bam | awk '{print $1,"\t",length($10),"\t","Unmapped"}' > {{ results_dir }}/minimap2/{{ sample.name }}_unmapped_readLength.txt

{% endfor %}
{% endfor %}

{% set temp_dir %}temp/{{ sample.gltype }}/pygmy/{{ sample.name }}{% endset %}
{% set results_dir %}{{ sample.gltype }}/pygmy/{{ sample.name }}{% endset %}
{% if tasks.RNA_transcriptome_quantify_expression_featureCounts|default(true) %}
  {% set temp_dir %}temp/{{ sample.gltype }}/pygmy/{{ sample.name }}/featureCounts{% endset %}
  {% set results_dir %}{{ sample.gltype }}/pygmy/{{ sample.name }}/featureCounts{% endset %}
  {% set sample_bam %}{{ results_dir }}/minimap2/{{ sample.name }}.Aligned.out.sorted.bam
  {% set gtf %}{{ constants.grandcanyon.gtf }}{% endset %}
  {{- pygmy_featurecounts(temp_dir, results_dir, sample, sample_bam, gtf, SIRV=false) }}
  {% if tasks.process_SIRVome | default(true) %}
    {% set temp_dir %}temp/{{ sample.gltype }}/pygmy/{{ sample.name }}/featureCounts_SIRV{% endset %}
    {% set results_dir %}{{ sample.gltype }}/pygmy/{{ sample.name }}/featureCounts_SIRV{% endset %}
    {% set sample_bam %}{{ results_dir }}/minimap2/{{ sample.name }}_SIRVome_mapped.bam
    {% set gtf %}{{ constants.grandcanyon.gtfSIRV }}{% endset %}
    {{- pygmy_featurecounts(temp_dir, results_dir, sample, sample_bam, gtf, SIRV=true) }}
  {% endif %}
{% endif %}

{% if tasks.RNA_transcriptome_quantify_expression_salmon|default(false) %}
  {{- pygmy_salmon(temp_dir, results_dir, sample, sample_bam, transcriptome, SIRV=false) }}
{% endif %}

{% if tasks.RNA_transcriptome_quantify_expression_flair|default(false) %}
  {{- pygmy_flair(temp_dir, results_dir, sample, sample_bam, reference_fasta, gtf, SIRV=false) }}
{% endif %}

{% if tasks.RNA_transcriptome_quantify_expression_isoquant|default(false) %}
{% endif %}
  {{- pygmy_isoquant(temp_dir, results_dir, sample, sample_bam, reference_fasta, gtf, SIRV=false) }}
{% endmacro %}
