{% if tasks.RNA_sirvsuite|default(false) %}

- name: SIRVSuite_{{ sample }}
  after: salmonSIRV_{{ sample }}
  cpus: 1
  mem: 42G
  after: samtoolsSortSIRV_{{ sample }},salmonSIRV_{{ sample }}
  output: SIRVSuite_{{ sample }}_done
  cmd: |
    #!/bin/bash
    #SBATCH -t 0-4:00

    module load python3
    {{ config.conda.sirvsuite }}

    mkdir -p {{ config.workdir }}/SIRVSuite/{{ sample }}
    cd {{ config.workdir }}/quasimapped-SIRVome/{{ sample }}/
    python3 {{ config.pygmy_path }}/accessories/quant_to_SIRVSuite.py
    cd {{ config.workdir }}/SIRVSuite/{{ sample }}

    printf "{{ sample }};{{ config.workdir }}/minimap2/{{ sample }}/{{ sample }}.sorted.bam;{{ config.workdir }}/quasimapped-SIRV/{{ sample }}/transcript_count.txt;FWD;transcript;none" > reads_manifest.tsv
    sed -i "1isample_name;alignment_path;counting_path;read_orientation;counting_feature;replication_group" reads_manifest.tsv

    SIRVsuite -i reads_manifest.tsv -o ./ --experiment-name "HBR2-14cycles-SUP" -a

{% endif %}
