{% macro salmon(sample, sample_bam, transcriptome, SIRV=false) %}

{% if SIRV %}
  {% set temp_dir %}temp/{{ sample.gltype }}/quant/salmon_SIRV/{{ sample.name }}{% endset %}
  {% set results_dir %}{{ sample.gltype }}/quant/salmon_SIRV/{{ sample.name }}{% endset %}
{% else %}
  {% set temp_dir %}temp/{{ sample.gltype }}/quant/salmon/{{ sample.name }}{% endset %}
  {% set results_dir %}{{ sample.gltype }}/quant/salmon/{{ sample.name }}{% endset %}
{% endif %}

{% if SIRV %}
- name: salmon_SIRV_{{ sample.name }}
{% else %}
- name: salmon_{{ sample.name }}
{% endif %}
  input:
    - {{ sample_bam }}
    - {{ transcriptome }}
  output: {{ results_dir }}/{{ sample.name }}.quant.sf
  cpus: 10
  mem: 32G
  walltime: "4:00:00"
  queue_preset: "DEFAULT"
  container: {{ constants.tools.salmon.container }}
  cmd: |

    {# note: this step performs salmon in alignment mode for transcript quantification #}
    {# input: human aligned transcriptome bam #}
    {# output: quant.sf file with transcript quantification (tpms) #}

    mkdir -p {{ temp_dir }}
    mkdir -p {{ results_dir }}

    salmon quant \
      --no-version-check \
      --libType A \
      --output {{ temp_dir }} \
      --threads 10 \
      --numBootstraps 100 \
      --dumpEq \
      --ont \
      --alignments {{ sample_bam }} \
      --targets {{ transcriptome }}

    mv {{ temp_dir }}/quant.sf {{ results_dir }}/{{ sample.name }}.quant.sf

{% endmacro %}

